<template>
  <div class="d-flex flex-wrap gap-2">
    <div class="elevation-4 border-rounded px-5 py-4 text-center" v-for="icon in icons" :key="icon">
      <div>
        <ui-icon :name="icon" :size="48" :grade="50" weight="900"/>
      </div>
      <div>
        {{ icon }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import icons from './icons'
</script>

<style scoped></style>
