.ui-alert {
  &-fill {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: rgb(var(--alert-bg-color, var(--default-bg-rgb)));
    color: var(--alert-text-color, var(--default-color));
    border-radius: var(--alert-border-radius, 0);
    transition: 0.2s;

    & > :last-child {
      margin-bottom: 0;
    }
  }
  &-soft{
    background: rgba(var(--alert-bg-color, var(--default-bg-rgb)), .2);
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    color:var(--default-color);
    border-radius: var(--alert-border-radius, 0);
    transition: 0.2s;
  }
  &-outline{
    background: rgba(var(--alert-bg-color, var(--default-bg-rgb)), .2);
    border: 1px solid rgb(var(--alert-bg-color, var(--default-bg)), .5);
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    color:var(--default-color);
    border-radius: var(--alert-border-radius, 0);
    transition: 0.2s;
  }
  &-border{
    border-left: 3px solid rgb(var(--alert-bg-color, var(--default-bg)));
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: rgb(var(--default-bg-rgb));
    color: var(--default-color);
    border-radius: var(--alert-border-radius, 0);
    transition: 0.2s;
    box-shadow: 0 5px 10px 0 rgba(var(--elevation-color-rgb), .1);
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    &:first-child + * {
      margin-top: 0;
    }
  }
}
