@import "./breakpoints";

.md-application {
  min-width: 100vw;
  min-height: 100vh;
}

.ui-main {
  height: auto;
  max-height: 100vh;
  &-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    @media (max-width: $breakpoint-lg-max) {
      grid-template-columns: 1fr;
    }
    > * {
      display: grid;
    }
  }
  &.reverse {
    grid-template-columns: 1fr auto;
    @media (max-width: $breakpoint-lg-max) {
      grid-template-columns: 1fr;
    }
  }
}

.ui-overlay {
  background: rgba(#000, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
}
