.ui-avatar {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--avatar-bg-color, #c0c4cc);
  color: var(--avatar-text-color, #fff);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  transition: .2s;

  > img {
    display: block;
    height: 100%;
    vertical-align: middle;
  }

  &--circle {
    border-radius: 50%;
  }
}