.ui-badge {
  box-sizing: border-box;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 500px;
  vertical-align: middle;
  background: transparent;
  color: var(--white);
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;

  &-primary {
    background: var(--primary);
    color: var(--white);
  }

  &-success {
    background: var(--success);
    color: var(--white);
  }

  &-warning {
    background: var(--warning);
    color: var(--white);
  }

  &-danger {
    background: var(--danger);
    color: var(--white);
  }
}
