.ui-banner {
  background: var(--banner-color, var(--white));
  color: var(--banner-text, var(--default-colot));
  &-wrapper {
    padding: 16px 8px 16px 24px;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }
  &-icon{
    display: inline-flex;
    flex: 0 0 auto;
    margin-right: 24px;
  }
  &-content {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 24px;
  }
  &-actions {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
  }
}
