$breakpoint-sm: 576px !default;
$breakpoint-sm-max: ($breakpoint-sm - 1) !default;
$breakpoint-md: 768px !default;
$breakpoint-md-max: ($breakpoint-md - 1) !default;
$breakpoint-lg: 992px !default;
$breakpoint-lg-max: ($breakpoint-lg - 1) !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xl-max: ($breakpoint-xl - 1) !default;
$breakpoint-xxl: 1400px !default;
$breakpoint-xxl-max: ($breakpoint-xxl - 1) !default; ;

$sizes: $breakpoint-sm "sm", $breakpoint-md "md", $breakpoint-lg "lg", $breakpoint-xl "xl", $breakpoint-xxl "xxl";
$sizes-max: $breakpoint-sm-max "s", $breakpoint-md-max "m", $breakpoint-lg-max "l", $breakpoint-xl-max "xl";
