.btn-contained {
  position: relative;
  display: inline-flex;
  align-items: center;
  outline: 0;
  text-decoration: none !important;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  cursor: pointer;
  border: none;
  color: var(--white);
  border-radius: var(--btn-border-radius, 0);

  &:after {
    opacity: 0.1;
    position: absolute;
    background: currentColor;
    @include ghost();
    transition: 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0;
  }

  &:hover:after {
    top: 50%;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: inherit;
  }

  &.btn-small {
    padding: 5px 15px;
  }
  &.btn-medium {
    padding: 15px 30px;
  }
  &.btn-large {
    padding: 20px 40px;
  }
}
.btn-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  outline: 0;
  text-decoration: none !important;
  font-weight: bold;
  background: transparent;
  border: 0;
  outline: none !important;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: var(--btn-border-radius, 0);

  &:after {
    opacity: 0.1;
    position: absolute;
    background: currentColor;
    @include ghost();
    transition: 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0;
  }

  &:hover:after {
    top: 50%;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: inherit;
  }

  &.btn-small {
    padding: 5px 15px;
  }
  &.btn-medium {
    padding: 15px 30px;
  }
  &.btn-large {
    padding: 20px 40px;
  }
}
.btn-bordered {
  position: relative;
  display: inline-flex;
  align-items: center;
  outline: 0;
  text-decoration: none !important;
  font-weight: bold;
  background: transparent;
  outline: none !important;
  padding: 10px 20px;
  border: 1px solid currentColor;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: var(--btn-border-radius, 0);

  &:after {
    opacity: 0.1;
    position: absolute;
    background: currentColor;
    @include ghost();
    transition: 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0;
  }

  &:hover:after {
    top: 50%;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: inherit;
  }

  &.btn-small {
    padding: 5px 15px;
  }
  &.btn-medium {
    padding: 15px 30px;
  }
  &.btn-large {
    padding: 20px 40px;
  }
}
.btn-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50px;
  padding: 0;
  background: transparent;
  outline: none !important;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 1;

  &:after {
    opacity: 0;
    position: absolute;
    background: currentColor;
    @include ghost();
    transition: 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: inherit;
  }

  &:hover:after {
    opacity: 0.1;
  }

  &.btn-medium {
    width: 40px;
    height: 40px;
  }
  &.btn-small {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }
  &.btn-large {
    width: 40px;
    height: 40px;
  }
}

@mixin btn-solid($selector, $bg, $color) {
  .btn-contained {
    &.btn-#{$selector} {
      background: $bg;
      border: 1px solid $bg;
      color: $color;
    }
  }
}

@mixin btn-text($selector, $color) {
  .btn-icon,
  .btn-bordered,
  .btn-text {
    &.btn-#{$selector} {
      color: $color;
    }
  }
}

.btn {
  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

@include btn-solid("default", var(--white), var(--dark));
@include btn-solid("primary", var(--primary), var(--white));
@include btn-solid("secondary", var(--secondary), var(--white));
@include btn-solid("info", var(--info), var(--white));
@include btn-solid("warning", var(--warning), var(--white));
@include btn-solid("danger", var(--danger), var(--white));
@include btn-solid("success", var(--success), var(--white));
@include btn-solid("light", var(--light), var(--dark));
@include btn-solid("dark", var(--dark), var(--light));

@include btn-text("default", var(--default-color));
@include btn-text("primary", var(--primary));
@include btn-text("secondary", var(--secondary));
@include btn-text("info", var(--info));
@include btn-text("warning", var(--warning));
@include btn-text("danger", var(--danger));
@include btn-text("success", var(--success));
@include btn-text("dark", var(--dark));

.btn-contained-default {
  border: 1px solid currentColor;
}
