.card {
  position: relative;
  transition: box-shadow 0.2s;
  background: var(--card-color, var(--card-default));
  border-radius: var(--card-border-radius, 0);

  &-content {
    padding: 15px 20px;
  }
  &-header {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
