.ui-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &-xsmall {
    max-width: 750px;
  }

  &-small {
    max-width: 900px;
  }

  &-large {
    max-width: 1400px;
  }

  &-xlarge {
    max-width: 1600px;
  }

  &-expand {
    max-width: none;
  }
}
