.ui-countdown {
  &-number {
    font-variant-numeric: tabular-nums;
    font-size: 2rem;
    line-height: 0.8;

    @media (min-width: 640px) {
      font-size: 4rem;
    }

    @media (min-width: 960px) {
      font-size: 6rem;
    }
  }

  &-separator {
    font-size: 1rem;
    line-height: 1.6;

    @media (min-width: 640px) {
      font-size: 2rem;
    }

    @media (min-width: 960px) {
      font-size: 3rem;
    }
  }
}
