.ui-dropdown {
  display: inline-block;
  position: relative;
  &-inner {
    position: absolute;
    display: inline-block;
    width: var(--dropdown-width, auto);
    border-radius: var(--dropdown-border-radius, 0);
    background-color: var(--default-bg);
    z-index: 700;

    &.bottom-left {
      left: 0;
      &.reverse-x{
        right: 0;
        left: auto;
      }
    }
    &.bottom-right {
      right: 0;
      &.reverse-x{
        left: 0;
        right: auto;
      }
    }
    &.left-bottom {
      left: 100%;
      bottom: 0;
      &.reverse-x{
        right: 100%;
        left: auto;
      }
    }
    &.left-top {
      left: 100%;
      top: 0;
      &.reverse-x {
        right: 100%;
        left: auto;
      }
    }
    &.right-bottom {
      left: 100%;
      bottom: 0;
      &.reverse-x {
        right: 100%;
        left: auto;
      }
    }
    &.right-top {
      left: 100%;
      top: 0;
      &.reverse-x {
        right: 100%;
        left: auto;
      }
    }
    &.top-left {
      left: 0;
      bottom: 100%;
      &.reverse-x {
        right: 0;
        left: auto;
      }
    }
    &.top-right {
      right: 0;
      bottom: 100%;
    }
  }
}
