.ui-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 6px 16px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, left, right;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex: 0 1 auto !important;
  background: var(--footer-color, lightgray);
  color: var(--footer-text, var(--default-color));

  &-padless {
    padding: 0;
  }

  &-absolute {
    position: absolute;
    bottom: 0;
    z-index: 3;
  }

  &-fixed {
    position: fixed;
    bottom: 0;
  }
}
