@mixin ui-marin($l, $d) {
  $margin: 0.35;

  @for $i from 0 through 8 {
    .m#{$l}-#{$i} {
      margin#{$d}: #{$margin * $i}rem !important;
    }
    .p#{$l}-#{$i} {
      padding#{$d}: #{$margin * $i}rem !important;
    }
    @if $i == 0 {
      .m#{$l}-#{$i}.\5 {
        margin#{$d}: #{$margin * 0.5}rem !important;
      }
      .p#{$l}-#{$i}.\5 {
        padding#{$d}: #{$margin * 0.5}rem !important;
      }
    }

    @if $i == 1 {
      .m#{$l}-#{$i}.\5 {
        margin#{$d}: #{$margin * 1.5}rem !important;
      }
      .p#{$l}-#{$i}.\5 {
        padding#{$d}: #{$margin * 1.5}rem !important;
      }
    }

    @if $d == "" {
      .mx-#{$i} {
        margin-left: #{$margin * $i}rem !important;
        margin-right: #{$margin * $i}rem !important;
      }

      .px-#{$i} {
        padding-left: #{$margin * $i}rem !important;
        padding-right: #{$margin * $i}rem !important;
      }

      .my-#{$i} {
        margin-top: #{$margin * $i}rem !important;
        margin-bottom: #{$margin * $i}rem !important;
      }

      .py-#{$i} {
        padding-top: #{$margin * $i}rem !important;
        padding-bottom: #{$margin * $i}rem !important;
      }
    }
  }
}
@include ui-marin("", "");
@include ui-marin(t, "-top");
@include ui-marin(b, "-bottom");
@include ui-marin(l, "-left");
@include ui-marin(r, "-right");
