.ui-menu-vertical {
  list-style: none;
  margin: 0;
  padding: 0;
  .ui-menu-item {
    margin: 0.25rem 1rem;

    &-title {
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--menu-header-title, var(--primary));
      padding: 10px 16px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-subtitle {
      font-size: 0.7rem;
      font-weight: 300;
      text-transform: none;
      color: var(--menu-header-subtitle, var(--secondary));
    }
    a {
      color: var(--white);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 16px;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      text-decoration: none;
      border-radius: 6px;
      &:hover,
      &.router-link-active {
        background-color: rgba(var(--default-bg-rgb), 0.12);
      }
    }
  }
  &-subitems {
    display: none;
    &.open {
      display: block;
      padding: 0;
      width: 100%;
      margin-top: 0.25rem;
    }
    .ui-menu-item {
      margin: 0;
      a {
        padding-left: 64px;
      }
    }
  }
}
