@mixin ghost($type: inline-block) {
  content: '';
  display: #{$type};
}

@mixin define-color($property, $color) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  #{$property}: rgb($red, $green, $blue);

  #{$property}-rgb: $red, $green, $blue;
}