@import "./breakpoints";

.navigation-drawer {
  position: relative;
  top: var(--drawer-top, 0);
  background: var(--drawer-bg-color, var(--default-bg));
  color: var(--drawer-color, var(--default-color));
  width: var(--drawer-width);
  height: 100%;
  transition: 0.2s width;
  overflow: hidden;

  &--wrapper {
    width: var(--wrapper-width);
  }
  @media (max-width: $breakpoint-lg-max) {
    position: absolute;
    z-index: 905;
  }
}
