.ui-page-header {
  background: var(--header-color, transparent);
  color: var(--header-text, var(--default-colot));

  padding: 16px 8px 16px 24px;

  &-title {
    display: flex;
    align-items: center;
    line-height: 24px;
    gap: 20px;
  }
}
