
.ui-pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  li{
   &:is(.ui-active){
     @extend .btn-text;
     @extend .btn-primary;
     @extend .btn-small;
   }
   &:not(.ui-active){
     @extend .btn-text;
     @extend .btn-default;
     @extend .btn-small;
   }
  }
  .ul-icon-d{
    &-more:before{
      text-align: center;
      content: '...';
      width: 15px;
      display: block;
    }
    &-arrow-left:before{
      text-align: center;
      content: '«';
      width: 15px;
      display: block;
    }
    &-arrow-right:before{
      text-align: center;
      content: '»';
      width: 15px;
      display: block;
    }
  }
}
