.ui-progress-linear {
  display: flex;
  &-background {
    background: var(--progress-bg, var(--primary));
    opacity: 0.3;
    transition: var(--progress-speed);
    width: calc(100% - var(--progress-value, 0));
    border-radius: 0 var(--progress-radius)  var(--progress-radius) 0;
  }
  &-buffer{
    background: var(--progress-bg, var(--primary));
    width: var(--progress-value, 0);
    transition: var(--progress-speed);
    border-radius: var(--progress-radius) 0 0 var(--progress-radius);
  }
  &.fixed,
  &.absolute{
    top: 0;
    right: 0;
    left: 0;
  }
  &.fixed{
    z-index: 999;
  }
}
