.md-ripple {
  --ripple-bg: var(--white);
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: var(--ripple-bg);
  opacity: .6;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}