.ui-skeleton-loader {
  overflow: hidden;
  position: relative;
  width: fit-content;
  cursor: wait;
  --gradient-color: rgba(255, 255, 255, 0.5);
  max-width: 100%;
  max-height: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &--circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* Shape stylings */
  &.shape--text {
    height: 20px;
  }
  &.shape--round {
    border-radius: 8px;
  }
}
/* Animation definitions */
@keyframes skeleton-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skeleton-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes skeleton-pulse-x {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes skeleton-pulse-y {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Animation classes */
.ui-skeleton-animation--fade {
  animation: skeleton-fade 1.5s linear 0.5s infinite;
}
.ui-skeleton-animation--wave::before {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  background: linear-gradient(
    90deg,
    transparent,
    var(--gradient-color),
    transparent
  );
  animation: skeleton-wave 1.5s linear 0.5s infinite;
}
.ui-skeleton-animation--pulse-x {
  animation: skeleton-pulse-x 1.5s linear 0.5s infinite;
}
.ui-skeleton-animation--pulse-y {
  animation: skeleton-pulse-y 1.5s linear 0.5s infinite;
}
.ui-skeleton-animation--pulse {
  animation: skeleton-pulse 1.5s linear 0.5s infinite;
}
