[theme="light"] {
  .ui-table {
    --table-color: #7b809a;
    --table-bg: transparent;
    --table-border-color: #f0f2f5;
    --table-accent-bg: transparent;
    --table-striped-color: #7b809a;
    --table-striped-bg: rgba(0, 0, 0, 0.05);
    --table-active-color: #7b809a;
    --table-active-bg: rgba(0, 0, 0, 0.1);
    --table-hover-color: #7b809a;
    --table-hover-bg: rgba(0, 0, 0, 0.075);
  }
}
[theme="dark"] {
  .ui-table {
    --table-color: #fff;
    --table-bg: transparent;
    --table-border-color: #233046;
    --table-accent-bg: transparent;
    --table-striped-color: #7b809a;
    --table-striped-bg: rgba(0, 0, 0, 0.05);
    --table-active-color: #7b809a;
    --table-active-bg: rgba(0, 0, 0, 0.1);
    --table-hover-color: #7b809a;
    --table-hover-bg: rgba(0, 0, 0, 0.075);
  }
}
.ui-table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--table-color);
  vertical-align: top;
  border-color: var(--table-border-color);
  border-spacing: 0;

  > tfoot,
  > thead {
    vertical-align: bottom;
    th {
      text-align: inherit;
    }
  }
  > :not(caption) > * > * {
    padding: 0.5rem;
    background-color: var(--table-bg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--table-border-color);
    box-shadow: inset 0 0 0 9999px var(--table-accent-bg);
  }
  > tbody {
    vertical-align: inherit;
  }
  &-group-divider {
    border-top: 2px solid currentColor;
  }
  &-sm > :not(caption) > * > * {
    padding: 0.25rem;
  }
  &-bordered > :not(caption) > * {
    border-width: 1px 0;
  }
}

.caption-top {
  caption-side: top;
}

.ui-table .ui-table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.ui-table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}

.ui-table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.ui-table-striped > tbody > tr:nth-of-type(odd) > * {
  --table-accent-bg: var(--table-striped-bg);
  color: var(--table-striped-color);
}

.ui-table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --table-accent-bg: var(--table-striped-bg);
  color: var(--table-striped-color);
}

.ui-table-active {
  --table-accent-bg: var(--table-active-bg);
  color: var(--table-active-color);
}

.ui-table-hover > tbody > tr:hover > * {
  --table-accent-bg: var(--table-hover-bg);
  color: var(--table-hover-color);
}

.ui-table-primary {
  --table-color: #000;
  --table-bg: #fbd2e0;
  --table-border-color: #e2bdca;
  --table-striped-bg: #eec8d5;
  --table-striped-color: #000;
  --table-active-bg: #e2bdca;
  --table-active-color: #000;
  --table-hover-bg: #e8c2cf;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-secondary {
  --table-color: #000;
  --table-bg: #e5e6eb;
  --table-border-color: #cecfd4;
  --table-striped-bg: #dadbdf;
  --table-striped-color: #000;
  --table-active-bg: #cecfd4;
  --table-active-color: #000;
  --table-hover-bg: #d4d5d9;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-success {
  --table-color: #000;
  --table-bg: #dbefdc;
  --table-border-color: #c5d7c6;
  --table-striped-bg: #d0e3d1;
  --table-striped-color: #000;
  --table-active-bg: #c5d7c6;
  --table-active-color: #000;
  --table-hover-bg: #cbddcc;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-info {
  --table-color: #000;
  --table-bg: #d1e3fa;
  --table-border-color: #bccce1;
  --table-striped-bg: #c7d8ee;
  --table-striped-color: #000;
  --table-active-bg: #bccce1;
  --table-active-color: #000;
  --table-hover-bg: #c1d2e7;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-warning {
  --table-color: #000;
  --table-bg: #fee8cc;
  --table-border-color: #e5d1b8;
  --table-striped-bg: #f1dcc2;
  --table-striped-color: #000;
  --table-active-bg: #e5d1b8;
  --table-active-color: #000;
  --table-hover-bg: #ebd7bd;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-danger {
  --table-color: #000;
  --table-bg: #fdd9d7;
  --table-border-color: #e4c3c2;
  --table-striped-bg: #f0cecc;
  --table-striped-color: #000;
  --table-active-bg: #e4c3c2;
  --table-active-color: #000;
  --table-hover-bg: #eac9c7;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-light {
  --table-color: #000;
  --table-bg: #f0f2f5;
  --table-border-color: #d8dadd;
  --table-striped-bg: #e4e6e9;
  --table-striped-color: #000;
  --table-active-bg: #d8dadd;
  --table-active-color: #000;
  --table-hover-bg: #dee0e3;
  --table-hover-color: #000;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-dark {
  --table-color: #fff;
  --table-bg: #344767;
  --table-border-color: #485976;
  --table-striped-bg: #3e506f;
  --table-striped-color: #fff;
  --table-active-bg: #485976;
  --table-active-color: #fff;
  --table-hover-bg: #435572;
  --table-hover-color: #fff;
  color: var(--table-color);
  border-color: var(--table-border-color);
}

.ui-table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .ui-table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767.98px) {
  .ui-table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991.98px) {
  .ui-table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1199.98px) {
  .ui-table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1399.98px) {
  .ui-table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

