@for $i from 1 through 24 {
  .fs-#{$i} {
    font-size: #{($i + 1) * 0.25}rem;
  }
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.fw-light {
  font-weight: 300;
}
.fw-normal {
  font-weight: 400;
}
.fw-semibold {
  font-weight: 500;
}
.fw-bold {
  font-weight: 900;
}

.text-small {
  font-size: 12px;
  line-height: 14px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #999;
}
.text-primary {
  color: var(--primary);
}
.text-accent {
  color: var(--accent);
}
.text-secondary {
  color: var(--secondary);
}
.text-info {
  color: var(--info);
}
.text-warning {
  color: var(--warning);
}
.text-danger {
  color: var(--danger);
}
.text-success {
  color: var(--success);
}
.text-light {
  color: var(--light);
}
.text-dark {
  color: var(--dark);
}
