@use "sass:map";
@import "breakpoints";

.absolute {
  position: absolute;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

.d {
  &-flex {
    display: flex;
  }

  &-inline-flex {
    display: inline-flex;
  }

  &-block {
    display: block;
  }

  &-inline-block {
    display: inline-block;
  }

  &-none {
    display: none;
  }
}

@each $size, $letter in $sizes {
  @media (min-width: $size) {
    .#{$letter}\:absolute {
      position: absolute;
    }
    .#{$letter}\:static {
      position: static;
    }
    .#{$letter}\:sticky {
      position: sticky;
    }
    .#{$letter}\:fixed {
      position: fixed;
    }
    .#{$letter}\:relative {
      position: relative;
    }
    .#{$letter}\:overflow-hidden {
      overflow: hidden;
    }
    .#{$letter}\:overflow-auto {
      overflow: auto;
    }
    .#{$letter}\:d {
      &-flex {
        display: flex;
      }

      &-inline-flex {
        display: inline-flex;
      }

      &-block {
        display: block;
      }

      &-inline-block {
        display: inline-block;
      }

      &-none {
        display: none;
      }
    }
    .#{$letter}\:w-full {
      width: 100%;
    }
    .#{$letter}\:h-full {
      height: 100%;
    }
  }
}

.overlay {
  overflow: hidden;

  &:before {
    position: absolute;
    @include ghost();
    background: var(--primary);
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.elevation {
  $elevation-umbra: (
    0: "none",
    1: "0 1px 2px 0 rgba(var(--elevation-color-rgb), .25)",
    2: "0 1px 3px 0 rgba(var(--elevation-color-rgb), .1), 0 1px 2px -1px rgba(var(--elevation-color-rgb), .1)",
    3: "0 4px 6px -1px rgba(var(--elevation-color-rgb), .1), 0 2px 4px -2px rgba(var(--elevation-color-rgb), .1)",
    4: "0 10px 15px -3px rgba(var(--elevation-color-rgb), .1), 0 4px 6px -4px rgba(var(--elevation-color-rgb), .1)",
    5: "0 20px 25px -5px rgba(var(--elevation-color-rgb), .1), 0 8px 10px -6px rgba(var(--elevation-color-rgb), .1)",
    6: "0 25px 50px -12px rgba(var(--elevation-color-rgb), .25)",
  );
  @for $i from 0 through 6 {
    &-#{$i} {
      box-shadow: #{map.get($elevation-umbra, $i)};
    }
  }
}

.ui-divider {
  --gradient-opacity: 1;
  width: 100%;
  margin: var(--spacing, 0) 0;
  height: var(--size, 1px);
  background-image: linear-gradient(
    var(--gradient-deg, 90deg),
    rgba(var(--divider-color-rgb), var(--gradient-opacity)),
    var(--divider-color),
    rgba(var(--divider-color-rgb), var(--gradient-opacity))
  );
  &.light {
    background-image: linear-gradient(
      90deg,
      rgba(var(--white-rgb), var(--gradient-opacity)),
      var(--white),
      rgba(var(--white-rgb), var(--gradient-opacity))
    );
  }
  &.gradient {
    --gradient-opacity: 0;
  }
  &.vertical{
    --gradient-deg: 0;
    display: inline-flex;
    align-self: stretch;
    margin: 0 var(--spacing, 0);
    width: var(--size, 1px)!important;
    height: inherit!important;
    min-height: 10px;
  }
}
