<template>
  <component-page
    :componentName="config.componentName"
    :componentDescription="config.componentDescription"
    :componentUsage="config.componentUsage"
    :propInfo="config.propInfo"
    :examples="config.examples"
  />
</template>

<script setup lang="ts">
import ComponentPage from "./component-page.vue";
import { ref, watch } from "vue";
import { useRoute } from "vue-router";

// hooks
const route = useRoute();

// properties
const config = ref({});

const updateConfig = () => {
  window.scrollTo(0, 0);
  import(`./documentation-config/${route.params.config}`).then((res: any) => {
    config.value = res.default;
  });
};

updateConfig();

// watcher
watch(
  () => route.params.config,
  () => {
    updateConfig();
  }
);
</script>

<style scoped></style>
