<template>
  <ui-grid cols="2" cols-md="3">
    <ui-col col-md="2">
      <div
        class="d-flex flex-center flex-middle flex-column"
        style="height: 100%"
      >
        <div>
          <ui-btn
            :variant="variant"
            :color="color"
            :border-radius="radius"
            class="mr-1"
          >
            {{ color }} button
          </ui-btn>
        </div>
        <div class="mt-5">
          <code>
            &#60;ui-btn
            {{ variant !== "contained" ? `variant="${variant}"` : "" }}
            {{ `color="${color}"` }}
            {{ type === "pill" ? `pill` : "" }}
            {{ type === "rounded" ? `rounded` : "" }}
            &#62; {{ color }} button &#60;/ui-btn&#62;
          </code>
        </div>
      </div>
    </ui-col>
    <ui-col>
      <h4>Choose your button style</h4>
      <ui-divider gradient />
      <h4>Color</h4>
      <label v-for="item in colors" :key="item" class="d-block">
        <input type="radio" :value="item" v-model="color" />
        {{ item }}
      </label>
      <h4>Variant</h4>
      <label v-for="item in types" :key="item" class="d-block">
        <input type="radio" :value="item" v-model="variant" />
        {{ item }}
      </label>
      <h4>Border Radius</h4>
      <label class="d-block" v-for="n in [0, 3, 6, 10]">
        <input type="radio" :value="n" v-model="radius" /> {{ n }}
      </label>
      <label class="d-block">
        <input type="radio" value="pill" v-model="radius" /> Pill
      </label>
    </ui-col>
  </ui-grid>
  <div class="mb-4">
    <h5>Icon button</h5>
    <ui-btn variant="icon" color="default" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="primary" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="secondary" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="info" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="warning" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="danger" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="success" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
    <ui-btn variant="icon" color="dark" class="mr-1">
      <span class="material-symbols-outlined"> favorite </span>
    </ui-btn>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";

const colors = ref([
  "default",
  "primary",
  "secondary",
  "info",
  "warning",
  "danger",
  "success",
  "light",
  "dark",
]);
const types = ref(["contained", "bordered", "text"]);
const loading = ref(false);
const variant = ref("contained");
const color = ref("primary");
const radius = ref(3);


watch(
  () => color.value,
  () => {
    loading.value = true;
    setTimeout(() => {
      loading.value = false;
    }, 0);
  }
);
watch(
  () => variant.value,
  () => {
    loading.value = true;
    setTimeout(() => {
      loading.value = false;
    }, 0);
  }
);
watch(
  () => radius.value,
  () => {
    loading.value = true;
    setTimeout(() => {
      loading.value = false;
    }, 0);
  }
);
</script>
