<template>
  <ui-grid cols="11" class="text-center">
    <ui-col col="2">
      <div>
        <div class="ui-countdown-number ui-countdown-days">
          {{ timer.days }}
        </div>
        <slot name="label-days-out">
          <div class="ui-countdown-label text-center ui-visible@s">
            <slot name="label-days-in">Days</slot>
          </div>
        </slot>
      </div>
    </ui-col>
    <div class="ui-countdown-separator">{{ separator }}</div>
    <ui-col col="2">
      <div class="ui-countdown-number ui-countdown-hours">
        {{ timer.hours }}
      </div>
      <slot name="label-hours-out">
        <div
          class="ui-countdown-label ui-margin-small ui-text-center ui-visible@s"
        >
          <slot name="label-hours-in">Hours</slot>
        </div>
      </slot>
    </ui-col>
    <div class="ui-countdown-separator">{{ separator }}</div>
    <ui-col col="2">
      <div class="ui-countdown-number ui-countdown-minutes">
        {{ timer.minutes }}
      </div>
      <slot name="label-minutes-out">
        <div
          class="ui-countdown-label ui-margin-small ui-text-center ui-visible@s"
        >
          <slot name="label-minutes-in">Minutes</slot>
        </div>
      </slot>
    </ui-col>
    <div class="ui-countdown-separator">{{ separator }}</div>
    <ui-col col="2">
      <div class="ui-countdown-number ui-countdown-seconds">
        {{ timer.seconds }}
      </div>
      <slot name="label-seconds-out">
        <div
          class="ui-countdown-label ui-margin-small ui-text-center ui-visible@s"
        >
          <slot name="label-seconds-in">Seconds</slot>
        </div>
      </slot>
    </ui-col>
  </ui-grid>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiCountdown",
  props: {
    days: String,
    hours: String,
    minutes: String,
    seconds: String,
    number: String,
    separator: {
      type: String,
      default: () => ":",
    },
    label: Boolean,
    date: {
      type: String,
      default: () => new Date(),
    },
    titles: Boolean,
  },

  setup(props) {
    const { date } = toRefs(props);

    const timer = ref({
      seconds: "00",
      minutes: "00",
      hours: "00",
      days: "00",
    });

    const parseTime = (time: string) => {
      if (+time <= 0) return "00";
      return (parseInt(time) + 100).toString().substr(1);
    };

    const getTimeSpan = (date: any) => {
      const total = date - Date.now();

      return {
        seconds: parseTime(((total / 1000) % 60).toString()),
        minutes: parseTime(((total / 1000 / 60) % 60).toString()),
        hours: parseTime(((total / 1000 / 60 / 60) % 24).toString()),
        days: parseTime((total / 1000 / 60 / 60 / 24).toString()),
      };
    };

    onMounted(() => {
      setInterval(() => {
        timer.value = getTimeSpan(Date.parse(date.value));
      }, 1000);
    });
    return {
      timer,
    };
  },
});
</script>

<style scoped></style>
