<template>
  <li class="ui-menu-item" :class="{ parent: !!item.children }">
    <template v-if="item.children">
      <a href="javascript:void(0)" @click="onClick">
        <ui-icon :name="item.icon" v-if="item.icon" class="mr-4" />
        <span>{{ item.title }}</span>
      </a>
      <ul class="ui-menu-vertical-subitems" :class="{ open: isOpen }">
        <template v-for="subitem in item.children">
          <ui-menu-item :item="subitem" />
        </template>
      </ul>
    </template>
    <template v-else>
      <component
        :is="item.route ? 'router-link' : 'a'"
        v-bind="linkAttrs"
        :class="{ active: !!item.children }"
      >
        <ui-icon :name="item.icon" v-if="item.icon" class="mr-4" />
        <span>{{ item.title }}</span>
      </component>
    </template>
  </li>
</template>

<script lang="ts">
import { computed, onMounted, ref } from "vue";

export default {
  name: "menuItem",
  props: {
    item: Object,
  },
  setup(props: any) {
    onMounted(() => (props.item.open = false));
    const linkAttrs = computed(() => {
      const arr = {};
      const { item } = props;

      if (item?.route) {
        //@ts-ignore
        arr["to"] = item.route;
      }

      return arr;
    });
    const isOpen = ref(false);

    const onClick = () => {
      isOpen.value = !isOpen.value;
    };

    return {
      linkAttrs,
      isOpen,
      onClick,
    };
  },
};
</script>

<style scoped></style>
