<template>
  <li class="ui-menu-item-title">
    <div> {{ item.title }} </div>
    <div class="ui-menu-item-subtitle">
      <span> {{ item.subtitle }} </span>
    </div>
  </li>
</template>

<script>
export default {
  name: "menuHeader",
  props: {
    item: Object,
  },
};
</script>

<style scoped></style>
