<template>
  <ul class="ui-menu-vertical">
    <template v-for="item in items">
      <slot name="header" v-if="item.type === 'header'">
        <menu-header :item="item" />
      </slot>
      <slot name="item" v-else>
        <menu-item :item="item" />
      </slot>
    </template>
  </ul>
</template>

<script>
import { defineComponent } from "vue";
import menuHeader from "@/components/menu/menuHeader";
import menuItem from "@/components/menu/menuItem";

export default defineComponent({
  components: {
    menuHeader,
    menuItem,
  },
  props: {
    items: {
      type: Array,
      default: [],
    },
    mode: {
      type: String,
      default: "click",
      validator: (prop) => ["click", "hover"].includes(prop),
    },
  },
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
