<template>
  <component :is="tag" :class="classes" v-bind="attrs">
    <slot>
      {{ text }}
    </slot>
  </component>
</template>

<script setup lang="ts">
import { computed, defineProps, toRef } from "vue";

const props = defineProps({
  id: String,
  inline: Boolean,
  tag: {
    type: String,
    default: () => "small",
  },
  textVariant: {
    type: String,
    default: () => "muted",
  },
});


const inlineBoolean = toRef(props, 'inline')
const classes = computed(() => ({
  'ui-form-text': !inlineBoolean.value,
  [`text-${props.textVariant}`]: !!props.textVariant,
}))

const attrs = computed(() => ({
  id: props.id,
}))

</script>
