<template>
  <form
    :id="id"
    :novalidate="novalidateBoolean"
    :class="classes"
  >
    <slot />
  </form>
</template>

<script setup lang="ts">
import {computed, defineProps, toRef, defineEmit} from "vue";

const emit = defineEmit();
const props = defineProps({
  id: String,
  floating: Boolean,
  novalidate: Boolean,
  validated: Boolean,
});

const floatingBoolean = toRef(props, "floating");
const novalidateBoolean = toRef(props, "novalidate");
const validatedBoolean = toRef(props, "validated");

const classes = computed(() => ({
  'form-floating': floatingBoolean.value,
  'was-validated': validatedBoolean.value,
}))

</script>
