<template>
  <div class="ui-text-field">
    <label class="ui-text-field-label" :for="computedId">{{ label }}</label>
    <div :class="classes" :style="cssProperties">
      <div class="ui-text-field-before" v-if="$slots.before">
        <slot name="before"/>
      </div>
      <input
        :id="computedId"
        ref="input"
        :name="name || undefined"
        :form="form || undefined"
        :type="localType"
        :disabled="disabled"
        :placeholder="placeholder"
        :required="required"
        :autocomplete="autocomplete || undefined"
        :readonly="readonly || plaintext"
        :min="min"
        :max="max"
        :step="step"
        :list="type !== 'password' ? list : undefined"
        :aria-required="required ? 'true' : undefined"
        :aria-invalid="computedAriaInvalid"
        @input="onInput($event)"
        @change="onChange($event)"
        @blur="onBlur($event)"
      />
      <div class="ui-text-field-after" v-if="$slots.after">
        <slot name="after"/>
      </div>
    </div>
    <div class="valid-feedback" tabindex="-1" v-if="valid">
      {{ validFeedback }}
    </div>
    <div class="invalid-feedback" tabindex="-1" v-else-if="!valid">
      {{ invalidFeedback }}
    </div>
    <div class="ui-text-field-description" v-if="description" tabindex="-1">
      {{ description }}
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, toRefs } from "vue";
import type { InputType } from "../../types";
import { COMMON_INPUT_PROPS, useFormInput } from "@/components/Form/useFormInput.ts";

const allowedTypes = [
  "text",
  "number",
  "email",
  "password",
  "search",
  "url",
  "tel",
  "date",
  "time",
  "range",
  "color",
];
export default defineComponent({
  name: "ui-text-field",
  props: {
    ...COMMON_INPUT_PROPS,
    // debounce: {type: [String, Number], default: 0}, TODO: not implemented yet
    label: { type: String, required: false },
    description: { type: String, required: false },
    validFeedback: { type: String, required: false },
    max: { type: [String, Number], required: false },
    min: { type: [String, Number], required: false },
    // noWheel: {type: [Boolean, String] as PropType<Booleanish>, default: false}, TODO: not implemented yet
    step: { type: [String, Number], required: false },
    type: {
      type: String as PropType<InputType>,
      default: "text",
      //@ts-ignore
      validator: (value: string) => allowedTypes.includes(value),
    },
    elevation: {
      type: Number,
      default: 0,
    },
    size: {
      type: String,
    },
    borderRadius: {
      type: [Number, String],
      default: 6,
    },
  },
  emits: ["update:modelValue", "change", "blur", "input"],
  setup(props: any, { emit }) {
    const { borderRadius, elevation } = toRefs(props);

    const classes = computed(() => {
      const isRange = props.type === "range";
      const isColor = props.type === "color";
      return {
        "ui-text-field-input": isColor || (!props.plaintext && !isRange),
        [`ui-text-field-${props.size}`]: !!props.size,
        "is-valid": props.state === true,
        "is-invalid": props.state === false,
        [`elevation-${elevation.value}`]: elevation.value
      };
    });

    const cssProperties = computed(() => {
      let size = borderRadius.value;
      const styles = [`--border-radius: ${size}px;`];
      return styles;
    });

    const localType = computed<InputType>(() =>
      allowedTypes.includes(props.type) ? props.type : "text"
    );

    const valid = computed(() => true);
    const invalidFeedback = computed(() => {
      if (!valid.value) {
        return "Opps! something wrong";
      }
    });

    const {
      input,
      computedId,
      computedAriaInvalid,
      onInput,
      onChange,
      onBlur,
      focus,
      blur,
    } = useFormInput(props, emit);

    return {
      classes,
      cssProperties,
      localType,
      input,
      computedId,
      computedAriaInvalid,
      valid,
      invalidFeedback,
      onInput,
      onChange,
      onBlur,
      focus,
      blur,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "text-field";
</style>
