.ui-text-field {
  &-label {
    margin-bottom: 10px;
    height: auto;
    padding-top: 0;
    overflow: visible;
    pointer-events: auto;
    font-size: var(--font-size, 14px);
    display: block;
  }
  &-description {
    margin-top: 5px;
    font-size: var(--font-size, 12px);
    color: var(--description-color, var(--text-field-description));
  }
  &-before,
  &-after{
    display: flex;
    align-items: center;
    min-width: 46px;
    justify-content: center;
    overflow: hidden;
  }
  &-before{
    margin-left: -16px;
    //margin-right: 16px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  &-after{
    margin-right: -16px;
    //margin-left: 16px;
    border-radius:  0 var(--border-radius) var(--border-radius) 0;
  }

  &-input {
    position: relative;
    display: flex;
    align-items: stretch;
    min-height: var(--min-height, 48px);
    border-radius: var(--border-radius, 0);
    padding: 0 16px;
    border-width: var(--border-size, 1px);
    border-style: solid;
    border-color: var(--border-color);
    background: var(--default-bg);

    input {
      padding: 14px 0;
      margin-top: 0;
      border: 0;
      outline: 0;
      background: transparent;
      width: 100%;
      color: var(--default-color);
      font-size: var(--input-font-size, 14px);
    }

    &:focus-within {
      border-color: var(--input-color, var(--primary));
    }
  }

  .valid-feedback{
    margin: 5px 0;
    color: var(--success);
    font-size: var(--font-size, 12px);
  }
  .invalid-feedback{
    margin: 5px 0;
    color: var(--danger);
    font-size: var(--font-size, 12px);
  }
}
