<template>
  <ui-card class="mb-5">
    <ui-card-header> Page Loading </ui-card-header>
    <ui-card-content>
      <ui-btn color="primary" :disabled="loading" @click="runLoading">Loading...</ui-btn>
    </ui-card-content>
  </ui-card>
  <ui-card class="mb-5">
    <ui-card-header> Drops </ui-card-header>
    <ui-card-content>
      <ui-progress v-model="progress" :show="loading" fixed />
      <ui-dropdown class="mt-2 mr-2" width="4050">
        <ui-card>
          <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque,
            dicta earum eius excepturi maiores maxime necessitatibus odio
            perferendis provident rerum, voluptate! Et fugiat itaque libero nam,
            odio odit porro?
          </ui-card-content>
        </ui-card>
      </ui-dropdown>
      <ui-dropdown elevation="1" border-radius="10">
        <ul class="d-block pl-0">
          <li class="d-block"><a href="#" class="px-3 py-1">Hello</a></li>
          <li class="d-block"><a href="#" class="px-3 py-1">Hello World</a></li>
          <li class="d-block">
            <a href="#" class="px-3 py-1">Hello World! also text</a>
          </li>
          <li class="d-block">
            <a href="#" class="px-3 py-1"
              >Hello World! also text, and more text</a
            >
          </li>
        </ul>
      </ui-dropdown>
    </ui-card-content>
  </ui-card>

  <ui-card>
    <ui-card-header> test </ui-card-header>
    <ui-card-content>
      <ui-countdown date="2022-09-17T11:57:55+00:00" separator=":" />
    </ui-card-content>
  </ui-card>
</template>

<script setup lang="ts">
import { ref } from "vue";

const progress = ref(0);
const loading = ref(true);
const runLoading = () => {
  progress.value = 0
  loading.value = true
};

function getRandomInt(max: number) {
  return Math.floor(Math.random() * max);
}

setInterval(() => {
  progress.value += getRandomInt(25);
}, 1500);
setTimeout(() => {
  loading.value = false;
}, 15000);
</script>

<style scoped></style>
