<template>
  <ui-app :mode="isDarkMode ? 'dark' : 'light'">
    <ui-app-bar app elevation="1">
      <ui-grid cols="24" class="w-full flex-middle">
        <ui-col col="2" col-lg="hidden">
          <ui-btn @click="isMenu = !isMenu" variant="icon">
            <ui-icon name="menu" />
          </ui-btn>
        </ui-col>
        <ui-col col="12">
          <div class="logo">vue3-mui</div>
        </ui-col>
        <ui-col col="10" col-end="25">
          <div class="d-flex flex-space-end">
            <ui-switch label="Dark mode" v-model="isDarkMode" />
          </div>
        </ui-col>
      </ui-grid>
    </ui-app-bar>
    <ui-main reverse>
      <ui-navigation-drawer v-model="isMenu" width="280" bg-color="dark">
        <ui-scrollbar :height="`calc(100vh - 64px)`">
          <div class="py-5">
            <ui-menu-vertical :items="menu" />
          </div>
        </ui-scrollbar>
      </ui-navigation-drawer>
      <div>
        <ui-scrollbar :height="`calc(100vh - 64px)`">
          <ui-page-header
            :title="
              $route.params.config && `Component ''${$route.params.config}''`
            "
            bg-color="card-default"
            @goBack="$router.go(-1)"
            icon-back
          >
          </ui-page-header>
          <ui-container expand class="mb-8">
            <div class="my-5">
              <ui-hover v-slot="{ hover }">
                <ui-alert
                  bg-color="warning"
                  :elevation="hover ? 5 : '0'"
                  text-color="white"
                  dismissible
                  title="Attention"
                >
                  Hi, this framework in on dev. Don't use it on production!
                  <p>Is hover: {{ hover }}</p>
                </ui-alert>
              </ui-hover>
            </div>
            <router-view />
          </ui-container>
          <ui-footer bg-color="card-default" class="flex-middle flex-center">
            <div class="py-2">
              Made with
              <ui-icon
                name="favorite"
                fill
                size="16"
                class="mx-1 text-danger"
              />
              by
              <a href="https://jcubegroup.com/" target="_blank" class="ml-1">
                jCube group
              </a>
            </div>
          </ui-footer>
        </ui-scrollbar>
      </div>
    </ui-main>
  </ui-app>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue";
import { useRoute } from "vue-router";
import { useMui } from "@/mui";
import menu from '../config/nav'

const route = useRoute();

//@ts-ignore
const isDarkMode = ref(JSON.parse(localStorage.getItem("dark")));
const isMenu = ref(true);
const page = ref(1);
const { appBar, navigationDrawer } = useMui();

watch(
  () => isDarkMode.value,
  (val) => {
    localStorage.setItem("dark", val);
  }
);
</script>

<style scoped>
.logo {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
</style>
