<template>
  <ui-app :mode="isDarkMode ? 'dark' : 'light'">
    <ui-grid class="main-grid">
      <ui-col>
        <ui-navigation-drawer v-model="isMenu" width="280" bg-color="dark"  text-color="white">
          <div class="py-5 px-3">
            <div>
              <div class="logo">vue3-material-ui</div>
            </div>
            <router-link
              class="link"
              :class="{
                selected: route.path === `/components/${component.name}`,
                disabled: !component.name,
              }"
              v-for="(component, i) in menu"
              :to="`/components/${component.name}`"
            >
              {{ component.title }}
              {{ component.name ? "" : "(Incomplete)" }}
            </router-link>
          </div>
        </ui-navigation-drawer>
      </ui-col>
      <ui-col>
        <ui-app-bar app class="justify-between" elevation="4">
          <div>
            <ui-btn variant="text" color="primary" size="small" @click="isMenu = !isMenu" pill>menu</ui-btn>
          </div>
          <ui-switch label="Dark mode" v-model="isDarkMode" />
        </ui-app-bar>
        <ui-main>
          <ui-container>
            <router-view />
          </ui-container>
        </ui-main>
      </ui-col>
    </ui-grid>
  </ui-app>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue";
import { useRoute } from "vue-router";
const route = useRoute();

//@ts-ignore
const isDarkMode = ref(JSON.parse(localStorage.getItem("dark")));
const isMenu = ref(true);
const menu = [
  { title: "App", name: "app" },
  { title: "App Bar", name: "app-bar" },
  { title: "Button", name: "button" },
  { title: "Card", name: "card" },
  { title: "Container", name: "" },
  { title: "Divider", name: "" },
  { title: "Dropdown", name: "" },
  { title: "Grid", name: "" },
  { title: "Loading Spinner", name: "" },
  { title: "Modal", name: "" },
  { title: "Navigation Drawer", name: "" },
  { title: "Page Header", name: "" },
  { title: "Switch", name: "switch" },
  { title: "Text Field", name: "text-field" },
];

watch(
  () => isDarkMode.value,
  (val) => {
    localStorage.setItem("dark", val);
  }
);
</script>

<style scoped>
.main-grid {
  grid-template-columns: auto 1fr;
  height: 100vh;
}
.logo {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.link {
  display: flex;
  white-space: nowrap;
  padding: 16px 0;
  color: rgba(var(--default-color), 0.5);
  cursor: pointer;
  transition-duration: 0.1s;
  text-decoration: none;
}
.link:hover {
  color: #007bff;
  transition-duration: 0.1s;
}
.selected {
  color: #007bff;
  font-weight: 500;
  pointer-events: none;
}
</style>
