<template>
  <component :is="layout" />
  <div class="layouts elevation-4 d-none">
      <ui-btn @click="layout = AppLayoutDefault" variant="icon" color="primary" size="small">
        <ui-icon name="4k"></ui-icon>
      </ui-btn>
      <ui-btn @click="layout = AppLayoutSecond" variant="icon" color="danger" size="small">
        <ui-icon name="2k"></ui-icon>
      </ui-btn>
  </div>
</template>

<script setup lang="ts">
import AppLayoutDefault from "./layouts/default.vue";
import AppLayoutSecond from "./layouts/second.vue";
import { useRoute } from "vue-router";
import { ref } from "vue";

const layout = ref(AppLayoutDefault);
const route = useRoute();
</script>

<style>
body {
  background: var(--body);
}
.layouts{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #fff;
  border-radius: 15px 0 0 15px;
  padding: 5px;
}
</style>
