<template>
  <component :is="comp" />
</template>

<script setup lang="ts">
import err404 from "./pages/404.vue";
import { useRoute } from "vue-router";
import { markRaw, nextTick, onMounted, onUnmounted, ref, watch } from "vue";

const route = useRoute();
const comp = ref();

onMounted(() => {
  nextTick(async () => {
    try {
      const config = route.params.config;
      const page = await import(
        /* @vite-ignore */ `./pages/components/${config}/index.vue`
      );
      comp.value = markRaw(page?.default || err404);
    } catch (e) {
      comp.value = markRaw(err404);
    }
  });
});

watch(
  () => route.params.config,
  async (config) => {
    try {
      const page = await import(
        /* @vite-ignore */ `./pages/components/${config}/index.vue`
      );
      comp.value = markRaw(page?.default || err404);
    } catch (e) {
      comp.value = markRaw(err404);
    }
  }
);
</script>

<style scoped></style>
