<template>
  <ui-page-header>
    <h1>{{ props.componentName }}</h1>
  </ui-page-header>
  <p>
    {{ props.componentDescription }}
  </p>
  <examples :examples="examples" v-if="examples.length" />
  <ui-card class="mb-5">
    <ui-card-header> Props </ui-card-header>
    <ui-card-content>
      <ui-table
        :items="props.propInfo"
        :fields="fields"
        hover
        bordered
        :current-page="current"
        :per-page="perPage"
        foot-clone
      />
      <ui-pagination
        :current-page="current"
        :page-count="totalPage"
        @change="current = $event"
        v-if="totalPage > 1"
      />
    </ui-card-content>
  </ui-card>
</template>

<script lang="ts">
// vue
import { defineComponent, ref, watch } from "vue";

// components
import PropTable from "./components/prop-table.vue";
import Examples from "./examples.vue";
import UiPagination from "@/components/pagination.vue";

export default defineComponent({
  components: {
    UiPagination,
    PropTable,
    Examples,
  },
  props: {
    componentName: {
      type: String,
      default: "Default",
    },
    componentDescription: {
      type: String,
      default: "Default description",
    },
    componentUsage: {
      type: String,
      default: "Default usage",
    },
    propInfo: {
      type: Array,
      default: [],
    },
    examples: {
      type: Array,
      default: [],
    },
  },
  setup(props: any) {
    const fields = [
      {
        key: "name",
        label: "Property",
        sortable: true,
        width: 250,
      },
      {
        key: "type",
        label: "Type",
        sortable: false,
      },
      {
        key: "default",
        label: "Default",
        sortable: false,
      },
      {
        key: "description",
        label: "Description",
        sortable: false,
      },
    ];
    const perPage = ref(50);
    const current = ref(1);
    const totalPage = ref(1);

    watch(
      () => props.propInfo,
      () => {
        totalPage.value = Math.ceil(props.propInfo?.length / perPage.value);
      }
    );

    return {
      fields,
      props,
      current,
      totalPage,
      perPage,
    };
  },
});
</script>

<style scoped>
.description {
  font-size: 1.3rem;
}
</style>
