<template>
  <ui-card v-for="(example, n) in examples" :key="n" class="mb-4">
    <ui-card-header>
      {{ example.title }}
    </ui-card-header>
    <ui-card-content>
      <p v-if="example.description">
        {{ example.description }}
      </p>
      <component :is="example.component" v-if="example.component" />
    </ui-card-content>
  </ui-card>
</template>

<script setup lang="ts">
import { defineProps } from "vue";

const props = defineProps({
  examples: {
    type: Array,
    default: [],
  },
});

/*export default defineComponent({*/
/*  props: {*/
/*    examples: {*/
/*      type: Array,*/
/*      default: [],*/
/*    },*/
/*  },*/
/*  setup(props: any) {*/
/*    const attributes = (props: any) => {*/
/*      const keys = Object.keys(props);*/
/*      const values = Object.values(props);*/

/*      let attrs = "";*/
/*      for (let i = 0; i < keys.length; i++) {*/
/*        attrs += `*/
/*    ${typeof values[i] === "string" ? "" : ":"}${keys[i]}="${values[i]}"`;*/
/*      }*/
/*      if (attrs) {*/
/*        attrs += "\n";*/
//       }
//       return attrs;
//     };
//
//     return {
//       props,
//       attributes,
//     };
//   },
// });
</script>

<style scoped>
.example-title {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.example-description {
}

.example-result-title {
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 30px;
}

.example-result {
  background: rgba(var(--default-color), 0.03);
  border: 1px solid rgba(var(--default-color), 0.1);
  padding: 32px 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex: 1;
}
</style>
