<template>
  <div :class="cls" :style="styles.join(' ')">
    <slot />
  </div>
</template>

<script setup lang="ts">
import { defineProps } from "vue";

const props = defineProps({
  name: String,
  col: [String, Number],
  colSm: [String, Number],
  colMd: [String, Number],
  colLg: [String, Number],
  colXl: [String, Number],
  colXxl: [String, Number],
  colStart: [String, Number],
  colStartSm: [String, Number],
  colStartMd: [String, Number],
  colStartLg: [String, Number],
  colStartXl: [String, Number],
  colStartXxl: [String, Number],
  colEnd: [String, Number],
  colEndSm: [String, Number],
  colEndMd: [String, Number],
  colEndLg: [String, Number],
  colEndXl: [String, Number],
  colEndXxl: [String, Number],
  row: [String, Number],
  rowSm: [String, Number],
  rowMd: [String, Number],
  rowLg: [String, Number],
  rowXl: [String, Number],
  rowXxl: [String, Number],
  rowStart: [String, Number],
  rowStartSm: [String, Number],
  rowStartMd: [String, Number],
  rowStartLg: [String, Number],
  rowStartXl: [String, Number],
  rowStartXxl: [String, Number],
  rowEnd: [String, Number],
  rowEndSm: [String, Number],
  rowEndMd: [String, Number],
  rowEndLg: [String, Number],
  rowEndXl: [String, Number],
  rowEndXxl: [String, Number],
});

let cls = [];
let styles = [];

if (props.name) {
  cls.push("ui-grid-name");
  styles.push(`--name: ${props.name};`);
}
if (props.col) {
  if (props.col === "hidden") {
    cls.push(`ui-grid-display-none`);
  } else {
    cls.push("ui-grid-col");
    cls.push(`ui-grid-display-block`);
    styles.push(`--col: ${props.col};`);
  }
}
if (props.colSm) {
  if (props.colSm === "hidden") {
    cls.push(`ui-grid-display-none-sm`);
  } else {
    cls.push("ui-grid-col-sm");
    cls.push(`ui-grid-display-block-sm`);
    styles.push(`--col-sm: ${props.colSm};`);
  }
}
if (props.colMd) {
  if (props.colMd === "hidden") {
    cls.push(`ui-grid-display-none-md`);
  } else {
    cls.push("ui-grid-col-md");
    cls.push(`ui-grid-display-block-md`);
    styles.push(`--col-md: ${props.colMd};`);
  }
}
if (props.colLg) {
  if (props.colLg === "hidden") {
    cls.push(`ui-grid-display-none-lg`);
  } else {
    cls.push("ui-grid-col-lg");
    cls.push(`ui-grid-display-block-lg`);
    styles.push(`--col-lg: ${props.colLg};`);
  }
}
if (props.colXl) {
  if (props.colXl === "hidden") {
    cls.push(`ui-grid-display-none-xl`);
  } else {
    cls.push("ui-grid-col-xl");
    cls.push(`ui-grid-display-block-xl`);
    styles.push(`--col-xl: ${props.colXl};`);
  }
}
if (props.colXxl) {
  if (props.colXxl === "hidden") {
    cls.push(`ui-grid-display-none-xxl`);
  } else {
    cls.push("ui-grid-col-xxl");
    cls.push(`ui-grid-display-block-xxl`);
    styles.push(`--col-xxl: ${props.colXxl};`);
  }
}

if (props.colStart) {
  cls.push("ui-grid-col-start");
  styles.push(`--col-start: ${props.colStart};`);
}
if (props.colStartSm) {
  cls.push("ui-grid-col-start-sm");
  styles.push(`--col-start-sm: ${props.colStartSm};`);
}
if (props.colStartMd) {
  cls.push("ui-grid-col-start-md");
  styles.push(`--col-start-md: ${props.colStartMd};`);
}
if (props.colStartLg) {
  cls.push("ui-grid-col-start-lg");
  styles.push(`--col-start-lg: ${props.colStartLg};`);
}
if (props.colStartXl) {
  cls.push("ui-grid-col-start-xl");
  styles.push(`--col-start-xl: ${props.colStartXl};`);
}
if (props.colStartXxl) {
  cls.push("ui-grid-col-start-xxl");
  styles.push(`--col-start-xxl: ${props.colStartXxl};`);
}

if (props.colEnd) {
  cls.push("ui-grid-col-end");
  styles.push(`--col-end: ${props.colEnd};`);
}
if (props.colEndSm) {
  cls.push("ui-grid-col-end-sm");
  styles.push(`--col-end-sm: ${props.colEndSm};`);
}
if (props.colEndMd) {
  cls.push("ui-grid-col-end-md");
  styles.push(`--col-end-md: ${props.colEndMd};`);
}
if (props.colEndLg) {
  cls.push("ui-grid-col-end-lg");
  styles.push(`--col-end-lg: ${props.colEndLg};`);
}
if (props.colEndXl) {
  cls.push("ui-grid-col-end-xl");
  styles.push(`--col-end-xl: ${props.colEndXl};`);
}
if (props.colEndXxl) {
  cls.push("ui-grid-col-end-xxl");
  styles.push(`--col-end-xxl: ${props.colEndXxl};`);
}

if (props.row) {
  cls.push("ui-grid-row");
  styles.push(`--row: ${props.row};`);
}
if (props.rowSm) {
  cls.push("ui-grid-row-sm");
  styles.push(`--row-sm: ${props.rowSm};`);
}
if (props.rowMd) {
  cls.push("ui-grid-row-md");
  styles.push(`--row-md: ${props.rowMd};`);
}
if (props.rowLg) {
  cls.push("ui-grid-row-lg");
  styles.push(`--row-lg: ${props.rowLg};`);
}
if (props.rowXl) {
  cls.push("ui-grid-row-xl");
  styles.push(`--row-xl: ${props.rowXl};`);
}
if (props.rowXxl) {
  cls.push("ui-grid-row-xxl");
  styles.push(`--row-xxl: ${props.rowXxl};`);
}

if (props.rowStart) {
  cls.push("ui-grid-row-start");
  styles.push(`--row-start: ${props.rowStart};`);
}
if (props.rowStartSm) {
  cls.push("ui-grid-row-start-sm");
  styles.push(`--row-start-sm: ${props.rowStartSm};`);
}
if (props.rowStartMd) {
  cls.push("ui-grid-row-start-md");
  styles.push(`--row-start-md: ${props.rowStartMd};`);
}
if (props.rowStartLg) {
  cls.push("ui-grid-row-start-lg");
  styles.push(`--row-start-lg: ${props.rowStartLg};`);
}
if (props.rowStartXl) {
  cls.push("ui-grid-row-start-xl");
  styles.push(`--row-start-xl: ${props.rowStartXl};`);
}
if (props.rowStartXxl) {
  cls.push("ui-grid-row-start-xxl");
  styles.push(`--row-start-xxl: ${props.rowStartXxl};`);
}

if (props.rowEnd) {
  cls.push("ui-grid-row-end");
  styles.push(`--row-end: ${props.rowEnd};`);
}
if (props.rowEndSm) {
  cls.push("ui-grid-row-end-sm");
  styles.push(`--row-end-sm: ${props.rowEndSm};`);
}
if (props.rowEndMd) {
  cls.push("ui-grid-row-end-md");
  styles.push(`--row-end-md: ${props.rowEndMd};`);
}
if (props.rowEndLg) {
  cls.push("ui-grid-row-end-lg");
  styles.push(`--row-end-lg ${props.rowEndLg};`);
}
if (props.rowEndXl) {
  cls.push("ui-grid-row-end-xl");
  styles.push(`--row-end-xl ${props.rowEndXl};`);
}
if (props.rowEndXxl) {
  cls.push("ui-grid-row-end-xxl");
  styles.push(`--row-end-xxl ${props.rowEndXxl};`);
}
</script>

<style scoped></style>
