<template>
  <div :class="cls" :style="styles.join(' ')">
    <slot />
  </div>
</template>

<script setup lang="ts">
import { defineProps } from "vue";
const props = defineProps({
  cols: [String, Number],
  colsSm: [String, Number],
  colsMd: [String, Number],
  colsLg: [String, Number],
  colsXl: [String, Number],
  colsXxl: [String, Number],
  rows: [String, Number],
  rowsSm: [String, Number],
  rowsMd: [String, Number],
  rowsLg: [String, Number],
  rowsXl: [String, Number],
  rowsXxl: [String, Number],
  template: String,
  gap: [String, Number],
  flow: String,
});

let cls = ["ui-grid"];
let styles = [];

if (props.cols) {
  cls.push("ui-grid-cols");
  styles.push(`--cols: ${props.cols};`);
}
if (props.colsSm) {
  cls.push("ui-grid-cols-sm");
  styles.push(`--cols-sm: ${props.colsSm};`);
}
if (props.colsMd) {
  cls.push("ui-grid-cols-md");
  styles.push(`--cols-md: ${props.colsMd};`);
}
if (props.colsLg) {
  cls.push("ui-grid-cols-lg");
  styles.push(`--cols-lg: ${props.colsLg};`);
}
if (props.colsXl) {
  cls.push("ui-grid-cols-xl");
  styles.push(`--cols-xl: ${props.colsXl};`);
}
if (props.colsXxl) {
  cls.push("ui-grid-cols-xxl");
  styles.push(`--cols-xxl: ${props.colsXxl};`);
}

if (props.rows) {
  cls.push("ui-grid-rows");
  styles.push(`--rows: ${props.rows};`);
}
if (props.rowsSm) {
  cls.push("ui-grid-rows-sm");
  styles.push(`--rows-sm: ${props.rowsSm};`);
}
if (props.rowsMd) {
  cls.push("ui-grid-rows-md");
  styles.push(`--rows-md: ${props.rowsMd};`);
}
if (props.rowsLg) {
  cls.push("ui-grid-rows-lg");
  styles.push(`--rows-lg: ${props.rowsLg};`);
}
if (props.rowsXl) {
  cls.push("ui-grid-rows-xl");
  styles.push(`--rows-xl: ${props.rowsXl};`);
}
if (props.rowsXxl) {
  cls.push("ui-grid-rows-xxl");
  styles.push(`--rows-xxl: ${props.rowsXxl};`);
}

if (props.gap) cls.push(`ui-gap-${props.gap}`);
if (props.template) {
  cls.push("ui-grid-template");
  cls.push(props.template);
}
if (props.flow) {
  cls.push(`ui-grid-flow-${props.flow}`);
}
</script>

<style scoped></style>
