<template>
  <div>
    <ui-btn size="small" color="primary" class="mr-1">Small</ui-btn>
    <ui-btn color="primary" class="mr-1">Default</ui-btn>
    <ui-btn size="medium" color="primary" class="mr-1">Medium</ui-btn>
    <ui-btn size="large" color="primary" class="mr-1">Large</ui-btn>
  </div>
</template>