<template>
  <ui-banner class="mb-5" icon="mail">
    We can't save your edits while you are in offline mode.
    <template #actions>
      <ui-btn variant="text" color="primary">Get online</ui-btn>
    </template>
  </ui-banner>
  <ui-banner class="mb-5">
    We can't save your edits while you are in offline mode.
  </ui-banner>
  <ui-banner class="mb-5" bg-color="dark" text-color="white">
    <template #icon>
      <ui-avatar>
        <ui-icon name="mail"/>
      </ui-avatar>
    </template>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto
    assumenda blanditiis commodi culpa, dolore dolores eaque enim maiores odit
    pariatur sint? Dignissimos dolorum explicabo harum nobis odio sunt vero.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto
    assumenda blanditiis commodi culpa, dolore dolores eaque enim maiores odit
    pariatur sint? Dignissimos dolorum explicabo harum nobis odio sunt vero.
    <template #actions>
      <ui-btn color="primary" class="mr-2">Action</ui-btn>
      <ui-btn color="secondary">Action</ui-btn>
    </template>
  </ui-banner>
</template>

<script setup lang="ts">
</script>