<template>
  <ui-page-header title="Table" />
  <p>
    Tabular data, <b>ui-table</b> supports pagination, filtering, sorting,
    custom rendering, various style options, events, and asynchronous data.
  </p>
  <ui-card>
    <ui-card-header> Example: Basic usage </ui-card-header>
    <ui-card-content>
      <ui-table :items="items" responsive />
      <div class="text-center my-2">
        <ui-btn @click="code.basic = !code.basic">show code</ui-btn>
      </div>
      <v-code v-if="code.basic" :code="BasicCode" />
    </ui-card-content>
  </ui-card>
  <props-info :items="propsInfoData" class="mt-5" />
</template>

<script setup lang="ts">
import PropsInfo from "../../../components/PropsInfo.vue";
import vCode from "../../../components/vCode.vue";
import { ref } from "vue";
import { BasicCode } from "./examples";

const propsInfoData = [
  {
    name: "bordered",
    type: "Boolean",
    default: "false",
    description: "Adds borders to all the cells and headers",
  },
  {
    name: "borderless",
    type: "Boolean",
    default: "false",
    description: "Removes all borders from cells",
  },
  {
    name: "busy",
    type: "Boolean",
    default: "false",
    description:
      "When set, forces the table into the busy state.Automatically set when an items provider function is being called",
  },
  {
    name: "caption",
    type: "String",
    default: "",
    description: "Text string to place in the caption element",
  },
  {
    name: "caption-top",
    type: "Boolean",
    default: "false",
    description:
      "Visually place the table caption above the table. Default is below",
  },
  {
    name: "dark",
    type: "Boolean",
    default: "false",
    description: "Places the table in dark mode",
  },
  {
    name: "fields",
    type: "Array",
    default: "null",
    description: "Array of field names or array of field definition objects",
  },
  {
    name: "foot-clone",
    type: "Boolean",
    default: "false",
    description:
      "Enable the footer of the table, and clone the header content by default",
  },
  {
    name: "hover",
    type: "Boolean",
    default: "false",
    description: "Enables hover styling on rows",
  },
  {
    name: "id",
    type: "String",
    default: "false",
    description:
      "Used to set the `id` attribute on the rendered content, and used as the base to generate any additional element IDs as needed",
  },
  {
    name: "items",
    type: "Array or Function",
    default: "[ ]",
    description:
      "Array of items to display, or an items provider function reference. Refer to the docs for details",
  },
];

const items = [
  {
    age: 40,
    first_name: "Dickerson",
    last_name: "Macdonald",
  },
  { age: 21, first_name: "Larsen", last_name: "Shaw" },
  { age: 89, first_name: "Geneva", last_name: "Wilson" },
  { age: 38, first_name: "Jami", last_name: "Carney" },
];
const code = ref({
  basic: false
});
</script>

<style scoped></style>
