@import "components/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--default-color);
}

@import "components/alert";
@import "components/animation";
@import "components/app";
@import "components/app-bar";
@import "components/avatar";
@import "components/badge";
@import "components/banner";
@import "components/buttons";
@import "components/card";
@import "components/colors";
@import "components/countdown";
@import "components/dropdown";
@import "components/utils";
@import "components/nav";
@import "components/margin";
@import "components/modal";
@import "components/ripple";
@import "components/flex";
@import "components/footer";
@import "components/navigation-drawer";
@import "components/container";
@import "components/grid";
@import "components/table";
@import "components/scrollbar";
@import "components/skeleton";
@import "components/pagination";
@import "components/progress";
@import "components/page-header";
@import "components/menu-vertical";
@import "components/text";
