@import "components/mixins";
:root {
  --default-margin: 5px;
  --font-weight-lighter: lighter;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --default-border-radius: 26px;

  @include define-color(--body, #f1f5f9);
  @include define-color(--divider-color, #e0e0e0);
  @include define-color(--border-color, #e0e0e0);
  @include define-color(--default-color, #333);
  @include define-color(--elevation-color, #000);
  @include define-color(--text-field-description, #6c757d);
  @include define-color(--default-bg, #fff);
  @include define-color(--white, #fff);
  @include define-color(--primary, #1a73e8);
  @include define-color(--secondary, #7b809a);
  @include define-color(--info, #03a9f4);
  @include define-color(--success, #4caf50);
  @include define-color(--warning, #fb8c00);
  @include define-color(--danger, #f44335);
  @include define-color(--light, #f0f2f5);
  @include define-color(--dark, #344767);
  @include define-color(--muted, #f6f6f6);
  @include define-color(--nav-pills-background, #f8f9fa);
  @include define-color(--app-border-color, #ececec);

  // cards
  @include define-color(--card-primary, lighten(#1a73e8, 40%));
  @include define-color(--card-secondary, lighten(#7b809a, 40%));
  @include define-color(--card-info, lighten(#03a9f4, 40%));
  @include define-color(--card-success, lighten(#4caf50, 40%));
  @include define-color(--card-warning, lighten(#fb8c00, 40%));
  @include define-color(--card-danger, lighten(#f44335, 35%));
  @include define-color(--card-default, #fff);
  @include define-color(--card-dark, lighten(#344767, 10%));
}

[theme="light"] {
}

[theme="dark"] {
  @include define-color(--default-color, #fff);
  @include define-color(--body, #344767);
  @include define-color(--default-bg, #2b3b55);
  @include define-color(--app-border-color, #233046);
  @include define-color(--elevation-color, darken(#fff, 50%));
  @include define-color(--border-color, #525c7a);

  // cards
  @include define-color(--card-primary, darken(#1a73e8, 40%));
  @include define-color(--card-secondary, darken(#7b809a, 35%));
  @include define-color(--card-info, darken(#03a9f4, 40%));
  @include define-color(--card-success, darken(#4caf50, 40%));
  @include define-color(--card-warning, darken(#fb8c00, 40%));
  @include define-color(--card-danger, darken(#f44335, 35%));
  @include define-color(--card-default, #2b3b55);
  @include define-color(--card-dark, darken(#344767, 10%));
}
