<template>
  <ui-card>
    <ui-card-header> Forms </ui-card-header>
    <ui-card-content>
      <pre>{{ text }}</pre>
      <ui-form @submit="onSubmit" @reset="onReset">
        <ui-text-field
          v-model="text"
          description="Let us know your name."
          label="Enter your name"
          placeholder="Start type..."
          valid-feedback="Thank you!"
        >
          <template #before>
            <ui-icon name="search" />
          </template>
        </ui-text-field>
        <ui-text-field
          label="Enter your email"
          placeholder="Start type..."
          class="mt-3"
        >
          <template #before>
            <ui-btn color="primary" border-radius="0" class="mr-3">
              <ui-icon name="search" />
            </ui-btn>
          </template>
          <template #after>
            <ui-btn color="primary" border-radius="0">
              <ui-icon name="search" />
            </ui-btn>
          </template>
        </ui-text-field>
        <div class="mt-5">
          <ui-btn type="submit">Submit</ui-btn>
          <ui-btn type="reset">Reset</ui-btn>
        </div>
      </ui-form>
    </ui-card-content>
  </ui-card>
  <props-info :items="propsInfoData" class="mt-5" />
</template>

<script setup lang="ts">
import PropsInfo from "../../../components/PropsInfo.vue";
import { ref } from "vue";

const propsInfoData = [
  {
    name: "v-model",
    type: "boolean",
    description: "A ref() object to bind the text-field to.",
    default: "N/A",
  },
  {
    name: "label",
    type: "string",
    description: "A label to associate with the text field.",
    default: "Default",
  },
  {
    name: "variant",
    type: "string",
    description: "Applies the (filled or outlined) style to the input",
    default: "Default",
  },
  {
    name: "isPassword",
    type: "boolean",
    description: "When true, will hide the input.",
    default: "false",
  },
];
const text = ref("Hello world");

const onSubmit = (event: any) => {
  event.preventDefault();
  console.log("onSubmit", event);
};
const onReset = (event: any) => {
  console.log("onReset", event);
};
</script>
