<template>
  <div
    class="ui-skeleton-loader ui-skeleton-loader--circle"
    :class="bindClass"
  ></div>
</template>

<script>
export default {
  props: {
    height: {
      type: [Number, String],
      default: 100,
    },
    width: {
      type: [Number, String],
      default: 100,
    },
    color: {
      type: String,
      default: "rgba(0, 0, 0, 0.12)",
    },
    animation: {
      type: String,
      default: "wave",
    },
  },
  computed: {
    bindClass() {
      return `ui-skeleton-animation--${this.animation}`;
    },
  },
  mounted() {
    const width = `${this.width}px`;
    const height = `${this.height}px`;
    const background = `${this.color}`;
    const loader = this.$el;
    loader.style.setProperty("width", width);
    loader.style.setProperty("height", height);
    loader.style.setProperty("background-color", background);
  },
};
</script>
