<template>
  <circle-loader
    v-if="type === 'circle'"
    :width="loaderWidth"
    :height="loaderHeight"
    :animation="animation"
    :color="color"
  />
  <square-loader
    v-else
    :width="loaderWidth"
    :height="loaderHeight"
    :animation="animation"
    :type="type"
    :color="color"
    :rounded="rounded"
    :radius="radius"
  />
</template>

<script>
import CircleLoader from "./Circle.vue";
import SquareLoader from "./Straight.vue";
export default {
  components: {
    CircleLoader,
    SquareLoader,
  },
  props: {
    type: {
      type: String,
      default: "rect",
    },
    size: {
      type: [Number, String],
    },
    animation: {
      type: String,
      default: "wave",
    },
    height: {
      type: [Number, String],
    },
    width: {
      type: [Number, String],
    },
    color: {
      type: String,
      default: "rgba(0, 0, 0, 0.12)",
    },
    waveColor: {
      type: String,
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    radius: {
      type: [Number, String],
      default: 8,
    },
  },
  computed: {
    loaderWidth() {
      if (this.size) {
        return this.size;
      } else {
        return this.width;
      }
    },
    loaderHeight() {
      if (this.size) {
        return this.size;
      } else {
        return this.height;
      }
    },
  },
  mounted() {
    if (this.waveColor) {
      this.$el.style.setProperty("--gradient-color", this.waveColor);
    }
  },
};
</script>
