<template>
  <div class="ui-skeleton-loader" :class="bindClass" />
</template>

<script>
export default {
  props: {
    height: {
      type: [Number, String],
      default: 100,
    },
    width: {
      type: [Number, String],
      default: 200,
    },
    color: {
      type: String,
      default: "rgba(0, 0, 0, 0.12)",
    },
    animation: {
      type: String,
      default: "wave",
    },
    type: {
      type: String,
      default: "rect",
    },
    borderRadius: {
      type: [Number, String],
      default: 50,
    },
  },
  computed: {
    bindClass() {
      return `ui-skeleton-animation--${this.animation} shape--${this.type} shape--${
        this.rounded ? "round" : "flat"
      }`;
    },
  },
  mounted() {
    const width = this.width ? `${this.width}px` : this.width;
    const height = this.height ? `${this.height}px` : this.height;
    const background = `${this.color}`;
    const borderRadius = `${this.borderRadius}px`;
    const loader = this.$el;
    loader.style.setProperty("width", width);
    loader.style.setProperty("height", height);
    loader.style.setProperty("background-color", background);
    loader.style.setProperty("border-radius", borderRadius);
  },
};
</script>
