<template>
  <ui-page-header title="Props" class="p-0"/>
  <ui-card class="mb-5">
    <ui-card-content>
      <ui-table
        :items="items"
        :fields="fields"
        hover
        foot-clone
      />
    </ui-card-content>
  </ui-card>
</template>

<script setup lang="ts">
import { defineProps } from "vue";

const fields = [
  {
    key: "name",
    label: "Property",
    sortable: true,
    width: 200,
  },
  {
    key: "type",
    label: "Type",
    sortable: false,
    width: 180,
  },
  {
    key: "default",
    label: "Default",
    sortable: false,
    width: 150,
  },
  {
    key: "description",
    label: "Description",
    sortable: false,
  },
];
const props = defineProps({
  items: Array,
});
</script>

<style scoped></style>
