<template>
  <ui-page-header title="Dropdown" class="p-0">
    Dropdowns are toggleable, contextual overlays for displaying lists of links
    and actions in a dropdown menu format.
  </ui-page-header>
  <ui-card class="my-5">
    <ui-card-content>
      <ui-dropdown text="Dropdown Button" width="450">
        <ui-card>
          <ui-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque,
            dicta earum eius excepturi maiores maxime necessitatibus odio
            perferendis provident rerum, voluptate! Et fugiat itaque libero nam,
            odio odit porro?
          </ui-card-content>
        </ui-card>
      </ui-dropdown>
      <ui-divider spacing="10" gradient />
      <div class="text-center">
        <ui-btn @click="code.basic = !code.basic">show code</ui-btn>
      </div>
    </ui-card-content>
    <v-code :code="BasicDrop" v-if="code.basic" />
  </ui-card>
  <ui-page-header title="Button content" class="p-0">
    <p>
      You can customize the <b>text</b> of the dropdown button by using either
      the text prop (shown in previous examples), or use the
      <b>button-content</b> slot instead of the <b>text</b> prop. The
      <b>button-content</b> slot allows you to use basic HTML and icons in the
      button content.
    </p>
    <p>
      If both the prop <b>text</b> and slot <b>button-content</b> are present,
      the slot <b>button-content</b> will take precedence.
    </p>
  </ui-page-header>
  <ui-card class="my-5">
    <ui-card-content>
      <div class="d-flex flex-middle">
        <ui-dropdown text="Button via prop" btn-size="small" width="450">
          <ui-card>
            <ui-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
              atque, dicta earum eius excepturi maiores maxime necessitatibus
              odio perferendis provident rerum, voluptate! Et fugiat itaque
              libero nam, odio odit porro?
            </ui-card-content>
          </ui-card>
        </ui-dropdown>
        <ui-divider vertical />
        <ui-dropdown width="450">
          <template #button-content="{ toggle }">
            <div class="d-flex flex-middle">
              <ui-btn variant="icon" @click="toggle" class="mr-1">
                <ui-icon name="info" />
              </ui-btn>
              <b>Button via html</b>
            </div>
          </template>
          <ui-card>
            <ui-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
              atque, dicta earum eius excepturi maiores maxime necessitatibus
              odio perferendis provident rerum, voluptate! Et fugiat itaque
              libero nam, odio odit porro?
            </ui-card-content>
          </ui-card>
        </ui-dropdown>
      </div>
      <ui-divider spacing="10" gradient />
      <div class="text-center">
        <ui-btn @click="code.slot = !code.slot">show code</ui-btn>
      </div>
    </ui-card-content>
    <v-code :code="btnSlot" v-if="code.slot" />
  </ui-card>
  <ui-page-header title="Positioning" class="p-0">
    <p>
      Dropdown supports various positioning such as left and right aligned,
      dropdown and dropup, and supports auto-flipping (dropdown to dropup, and
      vice-versa) when the menu would overflow off of the visible screen area.
    </p>
  </ui-page-header>
  <ui-page-header title="Dropdown alignment" class="p-0">
    <p>
      The dropdown element can either be left aligned (default) or right aligned
      with respect to the button above it. To have the dropdown aligned on the
      right, set the <b>alignment</b> prop.
    </p>
  </ui-page-header>
  <ui-card class="my-5">
    <ui-card-content>
      <div class="d-flex flex-middle">
        <ui-dropdown
          v-for="item in alignments"
          :text="item.title"
          btn-size="small"
          width="300"
          :alignment="item.alignment"
          class="mr-2"
        >
          <ui-card>
            <ui-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
              atque, dicta earum eius excepturi maiores maxime necessitatibus
              odio perferendis provident rerum, voluptate! Et fugiat itaque
              libero nam, odio odit porro?
            </ui-card-content>
          </ui-card>
        </ui-dropdown>
      </div>
    </ui-card-content>
    <v-code :code="btnSlot" v-if="code.slot" />
  </ui-card>
  <props-info :items="propInfo" class="mt-5" />
</template>

<script setup lang="ts">
import { BasicDrop, btnSlot } from "./examples";
import PropsInfo from "../../../components/PropsInfo.vue";
import vCode from "../../../components/vCode.vue";
import { ref } from "vue";

const code = ref({
  basic: false,
  slot: false,
});
const propInfo = [
  {
    name: "mode",
    type: "String",
    default: "click",
    description:
      "Designates whether menu should open on activator click or hover",
  },
  {
    name: "text",
    type: "String",
    default: "Open",
    description: "Text to place in the toggle button",
  },
  {
    name: "btnSize",
    type: "String",
    default: "",
    description: "Size of toggle button",
  },
  {
    name: "btnColor",
    type: "String",
    default: "primary",
    description: "Color of toggle button",
  },
  {
    name: "btnVariant",
    type: "String",
    default: "contained",
    description: "Type of toggle button",
  },
  {
    name: "elevation",
    type: "Number | String",
    default: "2",
    description: "Assign a custom z-depth to dropdown element.",
  },
  {
    name: "borderRadius",
    type: "Number | String",
    default: "5",
    description: "Assign border radius to dropdown element.",
  },
  {
    name: "width",
    type: "Number | String",
    default: "",
    description: "Assign width to dropdown element.",
  },
];

const alignments = [
  { title: "Bottom left", alignment: "bottom-left" },
  { title: "Bottom right", alignment: "bottom-right" },
  { title: "Right bottom", alignment: "right-bottom" },
  { title: "Right top", alignment: "right-top" },
  { title: "Left bottom", alignment: "left-bottom" },
  { title: "Left top", alignment: "left-top" },
  { title: "Top left", alignment: "top-left" },
  { title: "Top right", alignment: "top-right" },
];
</script>
