<template>
  <ui-footer fixed bg-color="primary">
    <ui-card flat tile class="text-center">
      <ui-card-content>
        <ui-btn> тут иконки </ui-btn>
      </ui-card-content>

      <ui-card-content class="white-text pt-0">
        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet.
        Mauris cursus commodo interdum. Praesent ut risus eget metus luctus
        accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a
        sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula
        lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus
        iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor
        vel ut orci. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus.
      </ui-card-content>

      <ui-divider />

      <ui-card-content class="white--text">
        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
      </ui-card-content>
    </ui-card>
  </ui-footer>
</template>
<script>
export default {
  name: "index",
  components: {},
};
</script>

<style scoped></style>
