<template>
  <ui-card>
    <ui-card-header>Basic usage</ui-card-header>
    <ui-card-content>
      <div class="d-flex flex-middle">
        <ui-skeleton type="circle" />
        <div class="ml-1">
          <ui-skeleton
            type="rect"
            height="12"
            v-for="n in counter"
            :radius="10"
            class="mb-1"
          />
        </div>
      </div>
      <p>
        The counter was {{ changedBy }} to
        <b> {{ counter }} </b>
      </p>
      <div class="d-flex ui-gap-1">
        <ui-btn color="success" size="small" @click="increment"
          >Click +1</ui-btn
        >
        <ui-btn color="danger" size="small" @click="decrement">Click -1</ui-btn>
        <ui-btn color="success" size="small" @click="increment(5)">
          Click +5
        </ui-btn>
        <ui-btn color="danger" size="small" @click="decrement(5)">
          Click -5
        </ui-btn>
        <ui-btn color="secondary" size="small" @click="reset">Reset</ui-btn>
      </div>
    </ui-card-content>
  </ui-card>
  <ui-card class="mt-5">
    <ui-card-header>Table</ui-card-header>
    <ui-card-content>
      <ui-table :items="tableItems">
        <template #head()>
          <ui-skeleton type="rect" width="100" height="18" class="mb-1" />
        </template>
        <template #cell()>
          <ui-skeleton type="rect" height="12" class="mb-1" />
        </template>
      </ui-table>
      <div class="text-center my-2">
        <ui-btn @click="code.table = !code.table">show code</ui-btn>
      </div>
      <v-code v-if="code.table" :code="tableExample" />
    </ui-card-content>
  </ui-card>
  <ui-card class="mt-5">
    <ui-card-header>Table</ui-card-header>
    <ui-card-content>
      <ui-grid cols="3" gap="3">
        <ui-col>
          <ui-card elevation="3">
            <ui-skeleton
              type="rect"
              width="400"
              height="250"
              border-radius="0"
            />
            <ui-card-header>
              <ui-skeleton type="rect" width="250" height="20" />
            </ui-card-header>
            <ui-card-content>
              <ui-skeleton
                type="rect"
                :width="n"
                height="14"
                v-for="n in [300, 220, 150, 50]"
                class="mb-1"
              />
              <div class="d-flex" style="justify-content: flex-end">
                <ui-skeleton
                  type="rect"
                  width="100"
                  height="34"
                  :border-radius="5"
                />
              </div>
            </ui-card-content>
          </ui-card>
        </ui-col>
        <ui-col>
          <ui-card :elevation="3">
            <ui-skeleton
              type="rect"
              width="400"
              height="250"
              border-radius="0"
            />
            <ui-card-header>
              <div class="d-flex flex-middle gap-2">
                <div>
                  <ui-skeleton type="circle" width="60" height="60" />
                </div>
                <div class="ml-2">
                  <ui-skeleton
                    type="rect"
                    width="75"
                    height="20"
                    class="mb-1"
                  />
                  <ui-skeleton type="rect" width="125" height="10" />
                </div>
              </div>
            </ui-card-header>
            <ui-card-content>
              <ui-skeleton
                type="rect"
                :width="n"
                height="14"
                v-for="n in [220, 150]"
                class="mb-1"
              />
              <div class="d-flex" style="justify-content: flex-end">
                <ui-skeleton
                  type="rect"
                  width="100"
                  height="34"
                  :border-radius="5"
                />
              </div>
            </ui-card-content>
          </ui-card>
        </ui-col>
        <ui-col>
          <ui-card elevation="3">
            <ui-card-header>
              <ui-skeleton type="rect" width="250" height="20" />
            </ui-card-header>
            <ui-card-content>
              <ui-skeleton
                type="rect"
                :width="n"
                height="14"
                v-for="n in [300, 220, 150, 50]"
                class="mb-1"
              />
              <div class="d-flex" style="justify-content: flex-end">
                <ui-skeleton
                  type="rect"
                  width="100"
                  height="34"
                  :border-radius="5"
                />
              </div>
            </ui-card-content>
            <ui-skeleton
              type="rect"
              width="400"
              height="250"
              border-radius="0"
            />
          </ui-card>
        </ui-col>
      </ui-grid>
    </ui-card-content>
  </ui-card>
</template>
<script>
import { tableExample } from "./examples";
import vCode from "../../../components/vCode";
import UiAvatar from "@/components/avatar";

export default {
  name: "SkeletonLoaderVueSample",
  components: {
    UiAvatar,
    vCode,
  },
  // vue component name
  data() {
    return {
      code: {
        table: false,
      },
      tableExample,
      counter: 3,
      initCounter: 3,
      message: {
        action: null,
        amount: null,
      },
    };
  },
  computed: {
    tableItems() {
      return JSON.parse(
        "[" + `,[${",1".repeat(5).substr(1)}]`.repeat(5).substr(1) + "]"
      );
    },
    changedBy() {
      const { message } = this;
      if (!message.action) return "initialized";
      return `${message?.action} ${message.amount ?? ""}`.trim();
    },
  },
  methods: {
    increment(arg) {
      const amount = typeof arg !== "number" ? 1 : arg;
      this.counter += amount;
      this.message.action = "incremented by";
      this.message.amount = amount;
    },
    decrement(arg) {
      const amount = typeof arg !== "number" ? 1 : arg;
      this.counter -= amount;
      this.message.action = "decremented by";
      this.message.amount = amount;
    },
    reset() {
      this.counter = this.initCounter;
      this.message.action = "reset";
      this.message.amount = null;
    },
  },
};
</script>
