<template>
  <div>
    <pre>{{ modal1 }}</pre>
    <ui-modal v-mode="modal1" btnTitle="test" width="600">
      <ui-card>
        <ui-card-header>Vue 3 MUI</ui-card-header>
        <ui-card-content> Hello from modal! </ui-card-content>
      </ui-card>
    </ui-modal>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const modal1 = ref(false);
</script>

<style scoped></style>
