<template>
  <div class="drawer-container ui-flex">
    <div class="ui-width-expand scrolling">
      <div class="ui-sticky">
        <slot name="header" />
      </div>
      <slot name="list" />
    </div>
    <transition
      name="slide-fade"
      mode="out-in"
    >
      <div
        v-if="drawer"
        class="drawer-content"
      >
        <slot name="content" />
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'UiDrawer',
    props: ['drawer'],
  }
</script>


<style lang="scss">
  .drawer {
    &-container {
      position: relative;
      overflow: hidden;
      height: 100%;

      > div {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    &-content {
      background: var(--header-background);
      border-left: 1px solid var(--border-color);
      width: 640px;
      max-width: 100%;
      transition: .2s;
      overflow: auto;
      @media (min-width: 640px) {
        max-width: 60%;
      }
    }

    &-item {
      display: block;
      cursor: pointer;
      background: var(--header-background);
      border-bottom: 1px solid var(--border-color);
      padding: 16px 32px;
      transition: .2s;
      text-decoration: none;
      color: var(--primary-color);

      &:hover {
        background-color: rgba(var(--secondary-color), .1);
      }

      &.active {
        background-color: rgba(var(--accent-color), .1);
      }
    }
  }
</style>
