<template>
  <transition name="fade">
    <div :class="cls" :style="cssProperties" v-if="!closed">
      <slot name="close">
        <a class="ui-alert-close" v-if="dismissible" @click="closed = true">
          <ui-icon name="close" />
        </a>
      </slot>
      <div class="ui-alert-title" v-if="hasTitle">
        <slot name="title" v-bind:title="title">
          <h3 v-if="title">{{ title }}</h3>
        </slot>
      </div>
      <slot />
      <div class="ui-alert-footer" v-if="hasFooter">
        <slot name="footer" />
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { computed, defineComponent, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiAlert",
  props: {
    title: {
      type: String,
      default: () => "",
    },
    dismissible: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: () => "fill",
    },
    bgColor: {
      type: String,
      default: () => "info",
    },
    textColor: {
      type: String,
      default: () => "white",
    },
    elevation: {
      type: [Number, String],
      default: 0,
    },
    borderRadius: {
      type: [Number, String],
      default: 5,
    },
  },
  setup(props: any, ctx: any) {
    const { type, borderRadius, textColor, elevation, title, bgColor } = toRefs(props);
    const closed = ref(false);

    const cls = computed(() => {
      const cls = [];
      if (type.value) cls.push(`ui-alert-${type.value}`);
      if (elevation.value) cls.push(`elevation-${elevation.value}`);
      return cls;
    });

    const cssProperties = computed(() => {
      const styles = [`--alert-border-radius: ${borderRadius.value}px;`];
      if (bgColor.value) styles.push(`--alert-bg-color: var(--${bgColor.value}-rgb)`);
      if (textColor.value)
        styles.push(`--alert-text-color: var(--${textColor.value})`);
      return styles;
    });

    const hasTitle = computed(() => ctx.slots.footer || title.value);
    const hasFooter = computed(() => ctx.slots.footer);
    return {
      cssProperties,
      cls,
      closed,
      hasTitle,
      hasFooter,
    };
  },
});
</script>
