<template>
  <div class="app-bar" :class="appBarCls" ref="appBar">
    <slot />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiAppBar",
  props: {
    elevation: {
      type: Number,
      default: 0,
    },
    absolute: {
      type: Boolean,
      default: false,
    },
    fixed: {
      type: Boolean,
      default: false,
    },
    app: {
      type: Boolean,
      default: false,
    },
    bottom: {
      type: Boolean,
      default: false,
    },
  },
  setup(props: any) {
    const { elevation, absolute, fixed, app } = toRefs(props);

    const appBarCls = computed(() => {
      const cls = [];
      if (elevation.value) cls.push(`elevation-${props.elevation}`);
      if (absolute.value) cls.push("absolute");
      if (fixed.value) cls.push("fixed");
      if (app.value) {
        cls.push("sticky");
        cls.push("top-0");
        return cls;
      }
    });
    const appBar = ref();

    return {
      appBarCls,
      appBar,
    };
  },
});
</script>
