<template>
  <div class="md-application" :class="cls">
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, SetupContext, watch } from "vue";

export default defineComponent({
  name: "uiApp",
  props: {
    mode: {
      type: String,
      default: "light",
    },
  },
  setup(props: any) {
    const cls = ref([]);
    if(typeof document !== 'undefined') {
      const root = document.querySelector("html");

      onMounted(() => {
        //@ts-ignore
        root.setAttribute("theme", props.mode);
      });
      onMounted(() => {
        //@ts-ignore
        root.setAttribute("theme", props.mode);
      });
      watch(
          () => props.mode,
          (mode) => {
            //@ts-ignore
            root.setAttribute("theme", mode);
          }
      );
    }

    return {
      cls,
    };
  },
});
</script>
