<template>
  <span :class="avatarClass" :style="sizeStyle">
    <img
      v-if="(src || srcSet) && !hasLoadError"
      :src="src"
      :alt="alt"
      :srcset="srcSet"
      :style="fitStyle"
      @error="handleError"
    />
    <slot v-else />
  </span>
</template>

<script lang="ts">
import { defineComponent, computed, ref, watch, toRefs, toRef } from "vue";

const ERROR_EVENT = "error";
export default defineComponent({
  name: "uiAvatar",
  props: {
    size: {
      type: [Number, String],
      default: "large",
    },
    shape: {
      type: String,
      default: "circle",
    },
    icon: {
      type: String,
      default: "user",
    },
    src: String,
    alt: String,
    srcSet: String,
    border: String,
    fit: {
      type: String,
      default: "cover",
    },
    bgColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
  },
  emits: [ERROR_EVENT],
  setup: function (props: any, { emit }) {
    const hasLoadError = ref(false);
    const src = toRef(props, "src");
    // need reset hasLoadError to false if src changed
    watch(src, () => {
      hasLoadError.value = false;
    });
    const avatarClass = computed(() => {
      const { size, icon, shape } = props;
      let classList = ["ui-avatar"];
      if (size && typeof size === "string") {
        classList.push(`ui-avatar--${size}`);
      }
      if (icon) {
        classList.push("ui-avatar--icon");
      }
      if (shape) {
        classList.push(`ui-avatar--${shape}`);
      }
      return classList;
    });
    const sizeStyle = computed(() => {
      const { size, bgColor, textColor} = props;
      const arr = {
        height: '',
        width: '',
        lineHeight: '',
        "--avatar-bg-color": '',
        "--avatar-text-color": '',
      };
      if (typeof size === "number") {
        arr.height = `${size}px`;
        arr.width = `${size}px`;
        arr.lineHeight = `${size}px`;
      }
      if (bgColor) arr["--avatar-bg-color"] = `var(--${bgColor})`;
      if (textColor) arr["--avatar-text-color"] = `var(--${textColor})`;
      return arr;
    });
    const fitStyle = computed(() => ({
      objectFit: props.fit,
      width: "100%",
    }));

    function handleError(e: any) {
      hasLoadError.value = true;
      emit(ERROR_EVENT, e);
    }

    return {
      hasLoadError,
      avatarClass,
      sizeStyle,
      handleError,
      fitStyle,
    };
  },
});
</script>
