<template>
  <span :class="badgecls">
    {{ count }}
  </span>
</template>

<script lang="ts">
import { computed, defineComponent, Ref, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiBadge",
  props: {
    count: {
      type: Number,
      default: () => 0,
    },
    color: {
      type: String,
      default: "default",
    },
  },
  setup(props: any) {
    const { color } = toRefs(props);
    const badgecls = computed(() => {
      const cls = ["ui-badge"];
      if (color.value) cls.push(`ui-badge-${props.color}`);
      return cls;
    });
    return {
      badgecls,
    };
  },
});
</script>
