<template>
  <div
    class="ui-banner"
    :class="[`elevation-${elevation}`]"
    :style="cssProperties"
  >
    <div class="ui-banner-wrapper">
      <div class="ui-banner-icon" v-if="$slots.hasOwnProperty('icon')">
        <slot name="icon"><ui-icon :name="icon" v-if="icon" /> </slot>
      </div>
      <div class="ui-banner-content">
        <slot />
      </div>
      <div class="ui-banner-actions" v-if="$slots.hasOwnProperty('actions')">
        <slot name="actions" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, SetupContext, toRefs } from "vue";

export default defineComponent({
  name: "uiBanner",
  props: {
    elevation: {
      type: Number,
      default: 0,
    },
    borderRadius: {
      type: Number,
      default: 5,
    },
    bgColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
    icon: String,
  },
  // eslint-disable-next-line
  setup(props: any) {
    const cssProperties = computed(() => {
      const { bgColor, borderRadius, textColor } = props;
      const styles = [`--banner-border-radius: ${borderRadius}px;`];
      if (bgColor) {
        styles.push(`--banner-color: var(--${bgColor})`);
      }
      if (textColor) {
        styles.push(`--banner-text: var(--${textColor})`);
      }
      return styles;
    });

    return {
      cssProperties,
    };
  },
});
</script>
