<template>
  <component
    :class="btnCls"
    :style="cssProperties"
    :type="isSubmit ? 'submit' : 'button'"
    v-bind="{ to }"
    :is="to ? 'router-link' : 'button'"
    :disabled="disabled"
  >
    <slot />
  </component>
</template>

<script>
import { ref, defineComponent, computed, toRefs } from "vue";

export default defineComponent({
  name: "uiButton",
  props: {
    variant: {
      type: String,
      validator: (prop) =>
        ["contained", "icon", "outlined", "text"].includes(prop),
      default: "contained",
    },
    to: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    isSubmit: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: "default",
    },
    elevation: {
      type: Number,
      default: 0,
    },
    size: {
      type: String,
    },
    borderRadius: {
      type: [Number, String],
      default: "5",
    },
  },
  setup(props) {
    const {
      variant,
      disabled,
      color,
      elevation,
      size,
      borderRadius,
    } = toRefs(props);
    const cssProperties = computed(() => {
      let size = borderRadius.value;
      if (borderRadius.value === "pill") {
        size = 50;
      }
      const styles = [`--btn-border-radius: ${size}px;`];
      return styles;
    });

    const btnCls = computed(() => {
      const cls = [];
      cls.push(`btn-${variant.value}`);
      if (color.value) cls.push(`btn-${color.value}`);
      if (disabled.value) cls.push("btn-disabled");
      if (elevation.value) cls.push(`elevation-${elevation.value}`);
      if (size?.value) cls.push(`btn-${size.value}`);
      return cls;
    });

    return {
      btnCls,
      cssProperties,
    };
  },
});
</script>
