<template>
  <div
    class="card"
    :class="[`elevation-${props.elevation}`]"
    :style="cssProperties"
  >
    <slot />
  </div>
</template>

<script lang="ts">
// vue
import { defineComponent, computed, toRefs } from "vue";

export default defineComponent({
  name: "uiCard",
  props: {
    elevation: {
      type: Number,
      default: 0,
    },
    borderRadius: {
      type: Number,
      default: 5,
    },
    color: {
      type: String,
    },
  },
  // eslint-disable-next-line
  setup(props: any) {
    const { elevation, borderRadius, color } = toRefs(props);
    // computed
    const cssProperties = computed(() => {
      const styles = [`--card-border-radius: ${props.borderRadius}px;`];
      if (props.color) styles.push(`--card-color: var(--card-${props.color})`);
      return styles;
    });

    return {
      props,
      cssProperties,
    };
  },
});
</script>
