<template>
  <div class="card-content">
    <slot />
  </div>
</template>

<script lang="ts">
// vue
import { defineComponent } from "vue";

export default defineComponent({
  // eslint-disable-next-line
  setup(props: any) {
    return {
      props,
    };
  },
});
</script>
