<template>
  <div :class="containercls">
    <slot />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiContainer",
  props: {
    xsmall: {
      type: Boolean,
      default: () => false,
    },
    small: {
      type: Boolean,
      default: () => false,
    },
    large: {
      type: Boolean,
      default: () => false,
    },
    xlarge: {
      type: Boolean,
      default: () => false,
    },
    expand: {
      type: Boolean,
      default: () => false,
    },
  },
  setup(props: any) {
    const { xsmall, small, large, xlarge, expand } = toRefs(props);
    const containercls = computed(() => {
      const cls = ["ui-container"];

      if (xsmall.value) cls.push(`ui-container-${props.small}`);
      else if (small.value) cls.push(`ui-container-small`);
      else if (large.value) cls.push(`ui-container-large`);
      else if (xlarge.value) cls.push(`ui-container-xlarge`);
      else if (expand.value) cls.push(`ui-container-expand`);

      return cls;
    });
    return {
      containercls,
    };
  },
});
</script>
