<template>
  <div :class="cls" :style="cssProperties"></div>
</template>

<script lang="ts">
// vue
import { defineComponent, computed, toRefs } from "vue";

export default defineComponent({
  name: "uiDivider",
  props: {
    spacing: {
      type: Number,
      default: 20,
    },
    size: {
      type: Number,
      default: 1,
    },
    light: {
      type: Boolean,
      default: false,
    },
    gradient: {
      type: Boolean,
      default: false,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
  },
  // eslint-disable-next-line
  setup(props: any) {
    const { spacing, size, light, gradient } = toRefs(props);
    // computed
    const cssProperties = computed(() => {
      return [`--spacing: ${props.spacing}px;`, `--size: ${props.size}px;`];
    });
    const cls = computed(() => {
      const arr = [`ui-divider`];
      if (props.light) arr.push("light");
      if (props.gradient) arr.push("gradient");
      if (props.vertical) arr.push("vertical");
      return arr;
    });
    return {
      cls,
      cssProperties,
    };
  },
});
</script>
