<template>
  <span class="ui-dropdown" v-click-outside="onClickOutside">
    <div v-if="mode === 'click'">
      <slot name="button-content" v-bind:open="open" v-bind:toggle="toggle">
        <ui-btn
          :variant="btnVariant"
          :color="btnColor"
          :size="btnSize"
          class="pr-1"
          @click="toggle"
        >
          {{ text }}
          <ui-icon :name="open ? 'arrow_drop_up' : 'arrow_drop_down'" />
        </ui-btn>
      </slot>
    </div>
    <div v-else-if="mode === 'hover'" @mouseenter="toggle">
      <slot name="button-content" v-bind:open="open" v-bind:toggle="toggle">
        <ui-btn
          :variant="btnVariant"
          :color="btnColor"
          :size="btnSize"
          class="pr-1"
        >
          {{ text }}
          <ui-icon :name="open ? 'arrow_drop_up' : 'arrow_drop_down'" />
        </ui-btn>
      </slot>
    </div>
    <transition name="fade">
      <div
        v-show="open"
        class="ui-dropdown-inner"
        :class="clsProperties"
        :style="cssProperties"
        @mouseleave="onLeave"
        ref="dropdownRef"
      >
        <slot> Click outside of the dropdown to close it. </slot>
      </div>
    </transition>
  </span>
</template>

<script lang="ts">
import { computed, nextTick, ref } from "vue";

export default {
  name: "UiDropdown",
  props: {
    mode: {
      type: String,
      default: "click",
    },
    text: {
      type: String,
      default: "Open",
    },
    btnSize: {
      type: String,
      default: "",
    },
    btnColor: {
      type: String,
      default: "primary",
    },
    btnVariant: {
      type: String,
      default: "contained",
    },
    delayShow: {
      type: Number,
      default: 0,
    },
    delayHide: {
      type: Number,
      default: 800,
    },
    elevation: {
      type: Number,
      default: 2,
    },
    borderRadius: {
      type: [Number, String],
      default: 5,
    },
    width: {
      type: [Number, String],
    },
    alignment: {
      type: String,
      default: () => "bottom-left",
    },
  },
  setup(props: any) {
    let open = ref(false);
    const dropdownRef = ref(null);
    const reverseX = ref(false);
    const reverseY = ref(false);

    const cssProperties = computed(() => {
      const { borderRadius, width } = props;
      const styles = [];
      if (borderRadius)
        styles.push(`--dropdown-border-radius: ${borderRadius}px;`);
      if (width) styles.push(`--dropdown-width: ${width}px;`);
      return styles;
    });

    const clsProperties = computed(() => {
      const { elevation, alignment } = props;
      const classes = [`elevation-${elevation}`, alignment];
      if(reverseX.value) classes.push('reverse-x')
      return classes;
    });

    const toggle = () => {
      open.value = !open.value;
      nextTick(() => {
        const target: any = dropdownRef.value;
        const { x, width } = target.getBoundingClientRect();
        const innerWidth = window.innerWidth;
        const next = innerWidth - (x + width);
        if (next <= 0) {
          reverseX.value = true;
        }
      });
    };
    const onLeave = () => {
      const { mode } = props;
      if (mode === "hover") open.value = false;
    };
    const onClickOutside = () => {
      open.value = false;
    };

    return {
      open,
      dropdownRef,
      clsProperties,
      cssProperties,
      toggle,
      onLeave,
      onClickOutside,
    };
  },
};
</script>

<style scoped lang="scss"></style>
