<template>
  <footer class="ui-footer" :class="footerCls" :style="cssProperties">
    <slot />
  </footer>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";

export default defineComponent({
  name: "uiFooter",
  props: {
    absolute: Boolean,
    fixed: Boolean,
    padless: Boolean,
    elevation: {
      type: [Number, String],
      default: 0,
    },
    borderRadius: {
      type: [Number, String],
      default: 5,
    },
    bgColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
    top: [Number, String],
    bottom: {
      type: [Number, String],
      default: () => 0,
    },
    left: {
      type: [Number, String],
      default: () => 0,
    },
    right: {
      type: [Number, String],
      default: () => 0,
    },
  },
  setup(props: any) {
    const footerCls = computed(() => {
      const { absolute, fixed, padless, elevation } = props;
      const arr = [];
      if (absolute) arr.push(`ui-footer-absolute`);
      else if (fixed) arr.push(`ui-footer-fixed`);
      if (padless) arr.push(`ui-footer-padless`);
      if (elevation) arr.push(`elevation-${elevation}`);

      return arr;
    });
    const cssProperties = computed(() => {
      const { bgColor, borderRadius, textColor, top, bottom, left, right } =
        props;
      const styles = [`--footer-border-radius: ${borderRadius}px;`];
      if (bgColor) {
        styles.push(`--footer-color: var(--${bgColor})`);
      }
      if (textColor) {
        styles.push(`--footer-text: var(--${textColor})`);
      }
      if (top) {
        styles.push(`top:${top}px`);
      } else {
        styles.push(`bottom:${bottom}px`);
      }
      styles.push(`left:${left}px`);
      styles.push(`right:${right}px`);
      return styles;
    });
    return {
      footerCls,
      cssProperties,
    };
  },
});
</script>

<style scoped></style>
