<template>
  <span @mouseenter="onEnter" @mouseleave="onLeave">
    <slot v-bind:hover="hover" />
  </span>
</template>

<script lang="ts">
import { ref, toRefs } from "vue";

export default {
  name: "uiHover",
  props: {
    closeDelay: { type: Number, default: () => 0 },
    openDelay: { type: Number, default: () => 0 },
    disabled: Boolean,
  },
  setup(props: any) {
    const hover = ref(false);
    const { disabled, openDelay, closeDelay } = toRefs(props);

    const onEnter = () => {
      if (!disabled.value) {
        setTimeout(() => {
          hover.value = true;
        }, openDelay.value);
      }
    };
    const onLeave = () => {
      if (!disabled.value) {
        setTimeout(() => {
          hover.value = false;
        }, closeDelay.value);
      }
    };

    return {
      hover,
      onEnter,
      onLeave,
    };
  },
};
</script>

<style scoped></style>
