<template>
  <span
    class="g-symbol"
    :class="[`material-symbols-${type}`]"
    :style="attrStyle"
  >
    {{ name }}
  </span>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "uiIcon",
  props: {
    name: {
      type: String,
    },
    type: {
      type: String,
      default: "outlined",
    },
    fill: {
      type: Boolean,
      default: false,
    },
    weight: {
      type: [Number, String],
      default: 400,
    },
    grade: {
      type: [Number, String],
      default: 0,
    },
    size: {
      type: [Number, String],
      default: 24,
    },
  },
  setup(props) {
    const attrStyle = computed(() => {
      const { size, fill, weight, grade } = props;
      return {
        "font-variation-settings": `'FILL' ${
          fill ? 1 : 0
        }, 'wght' ${weight}, 'GRAD' ${grade}, 'opsz' ${props.size}`,
        "font-size": `${size}px`,
      };
    });
    return { attrStyle };
  },
});
</script>
