<template>
  <div :class="listcls" class="ui-list">
    <div>
      <div class="ui-list-title" v-if="hasTitle">
        <slot name="title" v-bind:title="title">
          <p v-if="title">{{ title }}</p>
        </slot>
      </div>
      <div class="ui-list-subtitle" v-if="hasSubtitle">
        <slot name="access_time">
          <ui-icon name="access_time" />
        </slot>
        <slot name="subtitle" v-bind:subtitle="subtitle">
          <span v-if="subtitle">
            {{ subtitle }}
          </span>
        </slot>
      </div>
    </div>
    <div>
      <ui-button>
        <ui-icon name="arrow_forward_ios" />
      </ui-button>
    </div>
  </div>
  <ui-divider />
</template>

<script lang="ts">
import { computed, defineComponent, ref, toRefs } from "vue";

export default defineComponent({
  name: "uiList",
  components: {},

  props: {
    title: {
      type: String,
      default: () => "",
    },
    subtitle: {
      type: String,
      default: () => "",
    },
    textColor: {
      type: String,
      default: () => "",
    },
  },
  setup(props: any) {
    const { title, subtitle, textColor } = toRefs(props);
    const listcls = computed(() => {
      const cls = ["ui-list"];

      if (title.value) cls.push(`ui-list-${props.title}`);
      if (subtitle.value) cls.push(`ui-list-${props.subtitle}`);

      const hasTitle = computed(() => props.title);
      const hasSubtitle = computed(() => props.subtitle);

      return {
        cls,
        hasTitle,
        hasSubtitle,
      };
    });
    return { listcls };
  },
});
</script>

<style scoped></style>
