<template>
  <div :class="cls">
    <div class="ui-main-wrapper">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "uiMain",
  props: {
    reverse: Boolean,
  },
  setup(props: any) {
    const cls = ref("ui-main");

    if (props.reverse) cls.value = "ui-main reverse";

    const styles = ref([]);
    //@ts-ignore
    if (props.height) styles.value.push(`--scrollbar-height: ${props.height}`);
    return {
      cls,
      styles,
    };
  },
});
</script>
