<template>
  <slot name="trigger">
    <ui-btn @click="show">{{ btnTitle }}</ui-btn>
  </slot>
  <teleport to="body">
    <div class="ui-modal-background" v-if="modelValue" />
    <transition name="slide-top" mode="out-in">
      <div class="ui-modal" v-if="modelValue">
        <div :style="{ width: `${width}px` }" ref="modal">
          <slot />
        </div>
      </div>
    </transition>
  </teleport>
</template>

<script lang="ts">
// vue
import { defineComponent, ref, SetupContext } from "vue";

export default defineComponent({
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    btnTitle: {
      type: String,
      default: "Open",
    },
    width: {
      type: [String, Number],
      default: 600,
    },
    isPreventClose: {
      type: Boolean,
      default: false,
    },
  },
  setup(props: any, ctx: SetupContext) {
    const modal = ref();
    const emit = ctx.emit;

    const show = () => {
      console.log(emit)
      emit("update:modelValue", true);
    };
    const hide = () => {
      emit("update:modelValue", true);
    };
    const onClickOutside = () => {
      if (!props.isPreventClose) hide();
    };

    return {
      modal,
      props,
      show,
      hide,
      onClickOutside,
    };
  },
});
</script>
