<template>
  <div class="ui-overlay" @click="close" v-if="isMobile && isOpen" />
  <div
    class="navigation-drawer"
    :class="[`elevation-${elevation}`]"
    :style="cssProperties"
  >
    <div class="navigation-drawer--wrapper">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  SetupContext,
  watch,
  watchEffect,
} from "vue";
import { useMui } from "@/mui";
import { useBreakpoints } from "@/mixins/breakpoint";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "uiNavigation-drawer",
  props: {
    modelValue: {
      type: Boolean,
      default: true,
    },
    elevation: {
      type: Number,
      default: 0,
    },
    width: {
      type: [Number, String],
      default: 250,
    },
    bgColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
    topOffset: {
      type: Number,
      default: 0,
    },
  },
  setup(props: any, ctx: SetupContext) {
    const mui = useMui();

    const route = useRoute();
    const emit = ctx.emit;
    const { isMobile } = useBreakpoints();
    const isOpen = computed(() => {
      if (isMobile.value) {
        return !props.modelValue;
      } else {
        return props.modelValue;
      }
    });
    const topOffset = computed(() => {
      return props.topOffset;
    });

    const cssProperties = computed(() => {
      const styles = [];

      if (!isOpen.value) styles.push(`--drawer-width: 0px;`);
      else if (props?.width && isOpen.value)
        styles.push(`--drawer-width: ${props.width}px;`);
      if (props?.width) styles.push(`--wrapper-width: ${props.width}px;`);

      if (props?.bgColor)
        styles.push(`--drawer-bg-color: var(--${props.bgColor});`);
      if (props?.textColor)
        styles.push(`--drawer-color: var(--${props.textColor});`);

      return styles.join(" ");
    });

    const close = () => emit("update:modelValue", true);

    watchEffect(() => {
      if (isMobile.value) {
        if (route.path) close();
      }
    });
    watch(
      () => isOpen.value,
      () => {
        mui.navigationDrawer.value = +props.width;
      }
    );

    return {
      mui,
      topOffset,
      cssProperties,
      isMobile,
      isOpen,
      close,
    };
  },
});
</script>
