<template>
  <div class="ui-page-header" :style="cssProperties">
    <div class="ui-page-header-title">
      <slot name="title">
        <slot name="icon">
            <ui-btn variant="icon" @click="$emit('goBack')"  v-if="iconBack">
              <ui-icon :name="icon || 'arrow_back'" />
            </ui-btn>
        </slot>
        <h1 v-if="title">{{ title }}</h1>
      </slot>
    </div>
    <div class="ui-page-header-content" v-if="$slots.hasOwnProperty('default')">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { computed } from "vue";

export default {
  name: "uiPageHeader",
  props: {
    title: String,
    icon: String,
    iconBack: Boolean,
    bgColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
  },
  setup(props: any) {
    const cssProperties = computed(() => {
      const { bgColor, textColor } = props;
      const styles = [];
      if (bgColor) styles.push(`--header-color: var(--${bgColor})`);
      if (textColor) styles.push(`--header-text: var(--${textColor})`);
      return styles;
    });

    return {
      cssProperties,
    };
  },
};
</script>
