<template>
  <transition name="fade">
    <div
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="15"
      class="ui-progress-linear"
      :class="classProperties"
      :style="cssProperties"
      v-if="show"
    >
      <div class="ui-progress-linear-buffer" />
      <div class="ui-progress-linear-background" />
    </div>
  </transition>
</template>

<script lang="ts">
import { computed } from "vue";

export default {
  name: "progress",
  props: {
    modelValue: Number,
    height: {
      type: Number,
      default: 4,
    },
    color: {
      type: String,
      default: () => "primary",
    },
    radius: {
      type: Number,
      default: 50,
    },
    speed: {
      type: Number,
      default: 1,
    },
    absolute: Boolean,
    fixed: Boolean,
    show: {
      type: Boolean,
      default: true,
    },
  },
  setup(props: any) {
    const cssProperties = computed(() => {
      const { color, height, modelValue, radius, speed } = props;
      let value = modelValue;
      if (value >= 100) value = 100;
      const styles = [
        `height: ${height}px`,
        `--progress-bg: var(--${color})`,
        `--progress-value: ${value}%`,
        `--progress-radius: ${radius}px`,
        `--progress-speed: ${speed}s`,
      ];

      return styles;
    });

    const classProperties = computed(() => {
      const classes = [];
      const { absolute, fixed } = props;
      if (absolute) classes.push("absolute");
      else if (fixed) classes.push("fixed");

      return classes;
    });

    return {
      cssProperties,
      classProperties,
    };
  },
};
</script>

<style scoped></style>
