<template>
  <div class="ui-scrollbar" :style="styles" ref="scrollbar">
    <slot />
  </div>
</template>

<script lang="ts">
//@ts-ignore
import PerfectScrollbar from "perfect-scrollbar";
import {
  computed,
  defineComponent,
  onMounted,
  onUnmounted,
  Ref,
  ref,
} from "vue";
import {useRouter} from "vue-router";

export default defineComponent({
  name: "uiScrollbar",
  props: {
    height: {
      type: String,
    },
    options: {
      type: Object,
      required: false,
      default: () => {},
    },
    tag: {
      type: String,
      required: false,
      default: "div",
    },
    watchOptions: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup(props: any) {
    const eventNames = [
      "scroll",
      "ps-scroll-y",
      "ps-scroll-x",
      "ps-scroll-up",
      "ps-scroll-down",
      "ps-scroll-left",
      "ps-scroll-right",
      "ps-y-reach-start",
      "ps-y-reach-end",
      "ps-x-reach-start",
      "ps-x-reach-end",
    ];
    const router = useRouter();

    const scrollbar: Ref = ref(null);
    const ps: Ref = ref(null);
    const styles = computed(() => {
      const arr = [];
      const { height } = props;
      if (height) arr.push(`--scrollbar-height: ${height}`);

      return arr;
    });

    const create = () => {
      if (!ps.value) {
        const { options } = props;
        ps.value = new PerfectScrollbar(scrollbar.value, options);
      }
    };

    onMounted(() => {
      create();
    });
    onUnmounted(() => {
      if (ps.value) ps.value.destroy();
    });

    router.beforeEach(() => {
      if (scrollbar.value) scrollbar.value.scrollTop = 0
    });

    return {
      scrollbar,
      ps,
      styles,
      eventNames,
    };
  },
});
</script>

<style></style>
