<template>
  <ui-card v-for="type in typeAlert" class="mb-5">
    <ui-card-header>{{ titles[type] }}</ui-card-header>
    <ui-card-content>
      <ui-alert
        v-for="(color, index) in colors"
        :key="color"
        :type="type"
        :bg-color="color"
        text-color="white"
        :title="`Alert ${color}`"
        dismissible
      >
        <p>
          {{ description[index] }}
        </p>
      </ui-alert>
    </ui-card-content>
  </ui-card>
</template>

<script>
export default {
  name: "index",

  data() {
    return {
      typeAlert: ["fill", "soft", "outline", "border"],

      titles: {
        fill: "Alert Fill",
        soft: "Alert Soft",
        outline: "Alert Outline",
        border: "Alert Border",
        close: "Alert Close",
      },

      colors: {
        info: "info",
        primary: "primary",
        success: "success",
        warning: "warning",
        danger: "danger",
        secondary: "secondary",
        dark: "dark",
      },

      description: {
        info: "This is a alert with an 'info' level severity",
        primary: "Thank you for joining our newsletter!",
        success: "This is a alert with a 'success' level severity!",
        warning: "This is a alert with a 'warning' level severity!",
        danger: "This is a alert with an 'error' level severity!",
        secondary: "Your changes has been saved!",
        dark: "You have 3 new notifications!",
      },
    };
  },
};
</script>

<style scoped></style>
