<template>
  <div class="text-center">
    <ui-menu offset-y>
      <template>
        <ui-btn color="primary" dark> Dropdown </ui-btn>
      </template>
      <ui-list>
        <ui-list-item v-for="(item, index) in items" :key="index">
          <ui-list-item-title>{{ item.title }}</ui-list-item-title>
        </ui-list-item>
      </ui-list>
    </ui-menu>
  </div>
</template>

<script>
export default {
  name: "menu",
  items: [
    { title: "Click Me" },
    { title: "Click Me" },
    { title: "Click Me" },
    { title: "Click Me 2" },
  ],
};
</script>

<style scoped></style>
