<template>
  <div :class="{ 'ui-table-responsive': responsive }">
    <table class="ui-table" :class="classes">
      <thead>
        <tr>
          <th
            v-for="field in computedFields"
            :key="field.key"
            :width="field.width"
            v-bind="tr?.thAttr"
            :class="[
              field.class,
              field.thClass,
              field.variant ? `table-${field.variant}` : '',
            ]"
          >
            <slot
              :name="`head(${field.key})`"
              v-bind:field="field"
              v-if="slots[`head(${field.key})`]"
            >
              {{ field.label }}
            </slot>
            <slot :name="`head()`" v-bind:field="field" v-else>
              {{ field.label }}
            </slot>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="tr in computedItems"
          :class="[tr._rowVariant ? `table-${tr._rowVariant}` : null]"
        >
          <td
            v-for="field in computedFields"
            :key="field.key"
            :width="field.width"
            v-bind="tr?.tdAttr"
          >
            <slot
              :name="`cell(${field.key})`"
              v-bind:field="field"
              v-bind:value="tr[field.key]"
              v-bind:item="tr"
              v-if="slots[`cell(${field.key})`]"
            >
              {{ tr[field.key] }}
            </slot>
            <slot
              :name="`cell()`"
              v-bind:field="field"
              v-bind:value="tr[field.key]"
              v-bind:item="tr"
              v-else
            >
              {{ tr[field.key] }}
            </slot>
          </td>
        </tr>
      </tbody>
      <tfoot v-if="footClone">
        <tr>
          <th
            v-for="field in computedFields"
            :key="field.key"
            :width="field.width"
            v-bind="tr?.thAttr"
            :class="[
              field.class,
              field.thClass,
              field.variant ? `table-${field.variant}` : '',
            ]"
          >
            <slot
              :name="`head(${field.key})`"
              v-bind:field="field"
              v-if="slots[`head(${field.key})`]"
            >
              {{ field.label }}
            </slot>
            <slot :name="`head()`" v-bind:field="field" v-else>
              {{ field.label }}
            </slot>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, SetupContext } from "vue";
import {
  Breakpoint,
  ColorVariant,
  TableField,
  TableItem,
  VerticalAlign,
} from "@/types";
import useItemHelper from "@/components/table/itemHelper";

export default defineComponent({
  name: "uiTable",
  props: {
    align: { type: String as PropType<VerticalAlign> },
    caption: { type: String },
    captionTop: { type: Boolean, default: false },
    borderless: { type: Boolean, default: false },
    bordered: { type: Boolean, default: false },
    borderVariant: { type: String as PropType<ColorVariant> },
    dark: { type: Boolean, default: false },
    fields: { type: Array as PropType<TableField[]>, default: () => [] },
    footClone: { type: Boolean, default: false },
    hover: { type: Boolean, default: false },
    items: { type: Array as PropType<TableItem[]>, default: () => [] },
    responsive: {
      type: [Boolean, String] as PropType<boolean | Breakpoint>,
      default: false,
    },
    small: { type: Boolean, default: false },
    striped: { type: Boolean, default: false },
    busy: { type: Boolean, default: false },
    variant: { type: String as PropType<ColorVariant> },
    perPage: { type: Number },
    currentPage: { type: Number, default: 1 },
  },
  setup(props: any, ctx: SetupContext) {
    const classes = computed(() => ({
      [`align-${props.align}`]: props.align,
      [`ui-table-${props.variant}`]: props.variant,
      "ui-table-striped": props.striped,
      "ui-table-hover": props.hover,
      "ui-table-dark": props.dark,
      "ui-table-bordered": props.bordered,
      [`border-${props.borderVariant}`]: props.borderVariant,
      "ui-table-borderless": props.borderless,
      "ui-table-sm": props.small,
      "ui-caption-top": props.captionTop,
    }));
    // fields
    const itemHelper = useItemHelper();
    const computedFields = computed(() =>
      itemHelper.normaliseFields(props.fields, props.items)
    );
    const computedItems = computed(() => {
      if (!props.perPage) return props.items;
      const min = props.currentPage
        ? props.perPage * props.currentPage - props.perPage
        : 0;
      const max = props.perPage
        ? props.perPage * props.currentPage
        : props.items?.length;
      //@ts-ignore
      return props.items?.filter((el, i: number) => i >= min && i < max);
    });

    return {
      classes,
      computedFields,
      computedItems,
      slots: ctx.slots,
    };
  },
});
</script>

<style scoped></style>
