<template>
  <div />
</template>

<script lang="ts">
import { computed, defineComponent, h, PropType, VNode } from "vue";
import {
  Breakpoint,
  ColorVariant,
  TableField,
  TableItem,
  VerticalAlign,
} from "@/types";
//@ts-ignore
import useItemHelper from "./itemHelper.ts";
import { VNodeArrayChildren } from "@vue/runtime-core";
export default defineComponent({
  name: "BTable",
  props: {
    align: { type: String as PropType<VerticalAlign> },
    caption: { type: String },
    captionTop: { type: Boolean, default: false },
    borderless: { type: Boolean, default: false },
    bordered: { type: Boolean, default: false },
    borderVariant: { type: String as PropType<ColorVariant> },
    dark: { type: Boolean, default: false },
    fields: { type: Array as PropType<TableField[]>, default: () => [] },
    footClone: { type: Boolean, default: false },
    hover: { type: Boolean, default: false },
    items: { type: Array as PropType<TableItem[]>, default: () => [] },
    responsive: {
      type: [Boolean, String] as PropType<boolean | Breakpoint>,
      default: false,
    },
    small: { type: Boolean, default: false },
    striped: { type: Boolean, default: false },
    busy: { type: Boolean, default: false },
    variant: { type: String as PropType<ColorVariant> },
  },
  setup(props, { slots }) {
    type RawChildren =
      | string
      | number
      | boolean
      | VNode
      | VNodeArrayChildren
      | (() => any);
    type RawSlots = { [name: string]: unknown; $stable?: boolean };
    const classes = computed(() => ({
      [`align-${props.align}`]: props.align,
      [`table-${props.variant}`]: props.variant,
      "table-striped": props.striped,
      "table-hover": props.hover,
      "table-dark": props.dark,
      "table-bordered": props.bordered,
      [`border-${props.borderVariant}`]: props.borderVariant,
      "table-borderless": props.borderless,
      "table-sm": props.small,
      "caption-top": props.captionTop,
    }));
    const itemHelper = useItemHelper();
    const computedFields = computed(() =>
      itemHelper.normaliseFields(props.fields, props.items)
    );
    return () => {
      let theadTop: RawChildren | RawSlots | null;
      theadTop = null;
      if (slots["thead-top"]) {
        theadTop = slots["thead-top"]();
      }
      let theadSub: RawChildren | RawSlots | null;
      theadSub = null;
      if (slots["thead-sub"]) {
        theadSub = h(
          "tr",
          computedFields.value.map((field: any) =>
            h(
              "td",
              {
                scope: "col",
                class: [
                  field.class,
                  field.thClass,
                  field.variant ? `table-${field.variant}` : "",
                ],
              },
              //@ts-ignore
              slots["thead-sub"]({ items: computedFields.value, ...field })
            )
          )
        );
      }
      const tHead = h("thead", [
        theadTop,
        h(
          "tr",
          computedFields.value.map((field: any) => {
            const slotName = `head(${field.key})`;
            let thContent = field.label;
            if (slots[slotName]) {
              thContent = slots[slotName]?.({
                label: field.label,
              });
            }
            return h(
              "th",
              {
                ...field.thAttr,
                scope: "col",
                class: [
                  field.class,
                  field.thClass,
                  field.variant ? `table-${field.variant}` : "",
                ],
                title: field.headerTitle,
                abbr: field.headerAbbr,
                style: field.thStyle,
              },
              thContent
            );
          })
        ),
        theadSub,
      ]);
      let tBody: VNode[] | null;
      if (props.busy) {
        if (slots["busy"]) {
          tBody = [h("tbody", {}, slots["busy"]())];
        }
      } else {
        tBody = [
          h(
            "tbody",
            props.items.map((tr, index) =>
              h(
                "tr",
                {
                  class: [tr._rowVariant ? `table-${tr._rowVariant}` : null],
                },
                computedFields.value.map((field: any) => {
                  const slotName = `cell(${field.key})`;
                  let tdContent = tr[field.key];
                  if (slots[slotName]) {
                    tdContent = slots[slotName]?.({
                      value: tr[field.key],
                      index,
                      item: tr,
                      items: props.items,
                    });
                  }
                  return h(
                      //@ts-ignore
                    "td",
                    {
                      ...field.tdAttr,
                      class: [
                        field.class,
                        field.tdClass,
                        field.variant ? `table-${field.variant}` : "",
                        tr?._cellVariants && tr?._cellVariants[field.key]
                          ? `table-${tr?._cellVariants[field.key]}`
                          : "",
                      ],
                    },
                    tdContent
                  );
                })
              )
            )
          ),
        ];
      }
      //@ts-ignore
      const tableContent = [tHead, tBody];
      if (slots["table-caption"]) {
        tableContent.push(h("caption", slots["table-caption"]()));
      } else {
        if (props.caption) {
          const tCaption = h("caption", props.caption);
          tableContent.push(tCaption);
        }
      }
      if (props.footClone) {
        const tFoot = h(
          "tfoot",
          h(
            "tr",
            computedFields.value.map((field: any) =>
              h(
                "th",
                {
                  ...field.thAttr,
                  scope: "col",
                  class: [
                    field.class,
                    field.thClass,
                    field.variant ? `table-${field.variant}` : "",
                  ],
                  title: field.headerTitle,
                  abbr: field.headerAbbr,
                  style: field.thStyle,
                },
                field.label
              )
            )
          )
        );
        tableContent.push(tFoot);
      }
      const table = h(
        "table",
        {
          class: ["table", classes.value],
        },
        tableContent
      );
      if (props.responsive) {
        return h(
          "div",
          {
            class: {
              "table-responsive": typeof props.responsive === "boolean",
              [`table-responsive-${props.responsive}`]:
                typeof props.responsive === "string",
            },
          },
          table
        );
      }
      return table;
    };
  },
});
</script>
