<template>
  <ui-grid :cols="2">
    <ui-col col="1">
      <div class="d-flex" v-for="color in colors">
        <div :class="`bg-${color}-50`" :style="`height: 35px; width: 35px;`" />
        <div
          v-for="n in 9"
          :key="n"
          :class="`bg-${color}-${n}00`"
          :style="`height: 35px; width: 35px;`"
        />
      </div>
    </ui-col>
    <ui-col col="1">
      <div class="mb-3" v-for="color in colors" >
        <div :class="`text-${color}-50`">{{ `text-${color}-50` }}</div>
        <div :class="`text-${color}-${n}00`"  v-for="n in 9"  :key="n">{{ `text-${color}-${n}00` }}</div>
      </div>
    </ui-col>
  </ui-grid>
</template>

<script setup lang="ts">
const colors = [
  "red",
  "pink",
  "purple",
  "deep-purple",
  "indigo",
  "light-blue",
  "blue",
  "deep-blue",
  "cyan",
  "teal",
  "green",
  "light-green",
  "line",
  "yellow",
  "amber",
  "orange",
  "deep-orange",
  "brown",
  "grey",
  "blue-grey",
  "black",
  "light-grey",
];
</script>

<style scoped></style>
